{% extends 'base.html.twig' %}

{% block title %}Checkout - Crystal Shea{% endblock %}
{% block stylesheets %}
<style>
    input[type="password"] {
        color: black !important;
        font-family: Verdana;
    }
</style>
{% endblock %}
{% block body %}

{% include('include/header_pg.html.twig') %}

    <!--Checkout page section-->
    <div class="Checkout_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <nav class="nav nav-pills nav-fill">
                    <a class="nav-link disabled" aria-current="page" href="#">1. ACCOUNT DETAILS</a>
                    <a class="nav-link disabled" href="#">2. ADDRESS DETAILS</a>
                    <a class="nav-link active" href="#">3. DELIVERY METHOD</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">4. PAYMENT METHOD</a>
                    </nav>
                    <div class="d-flex align-items-start">
                    <div class="tab-content" id="" style="width:90%; margin:auto;">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="user-actions">
                                <h3>
                                    <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    How do you want your stuff delivered?
                                </h3>
                                <div class="checkout_form">
                                {# add fee to order entity and save using this form. #}
                                    <form action="{{path('checkout_save_fee')}}" method="post">
                                        {# <h3>Billing Details</h3> #}
                                        <div class="row">
                                            <select name="deliveryOptions" id="deliveryOptions" class="form-control">
                                                <option value="pickup" selected >Pick-Up (Free) </option>
                                                <option value="cbd">Delivery within CBD</option>
                                            </select>
                                            {# if pickup update cart summary shipping fee to 0 then to fee if sendy #}
                                            <input type="hidden" name="order_id" value="{{cart.id}}">
                                            <input type="hidden" id="shippingFee" name="shippingFee" value="0">
                                            <input type="hidden" id="fulfilmentFee" name="fulfilmentFee" value="">
                                            <div class="form_group group_3 ">
                                                <button class="mt-3" id="proceedToPayment" style="width:100%!important" type="submit">Proceed to payment</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    </div>
                    </div>
                
                </div>
                <div class="col-lg-4 col-md-4">
                    <form action="#">
                        <h3>Your order</h3>
                        <div class="order_table table-responsive">
                        <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />
                        {% if cart.items.count > 0 %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.items %}
                                    <tr>
                                        <td> {{item.product.name}} <strong>  &#10005; {{item.quantity}}</strong></td>
                                        <td> Kes {{item.product.price * item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td>Kes {{cart.total}}</td>
                                    </tr>
                                    <tr>
                                        <th><span id="delType">Shipping (Sendy)</span></th>
                                        <td><strong><span id="shippingCost">Calculating...</span></strong></td>
                                    </tr>
                                    <tr>
                                        <th>Cart Total</th>
                                        <td><strong><span id="cartTotal">Calculating...</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />

                        {% else %}
                            <div class="cart_empty alert alert-info">
                                Your cart is empty.
                            </div>     
                        {% endif %}   
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Checkout page section end-->


{% include ('include/shipping.html.twig') %}

{% include ('include/footer.html.twig') %}

{% endblock %}
{% block javascripts %}
<script>
    // $(window).on('load', function() {

    //     var deliveryOptionsVal = $("#deliveryOptions").val();
    //     var cartSubTotal = "{{cart.total}}";
    //     console.log(deliveryOptionsVal);

    //     $.ajax({
    //         url:"/checkout/check/delivery/fee",
    //         type: "POST",
    //         dataType: "json",
    //         data: {
    //             "order_id": "{{cart.id}}",
    //         },
    //         async: true,
    //         success: function (data)
    //         {
    //             console.log(data);
    //             $('select option:contains("Sendy")').text("Sendy Delivery (KES " + data.fulfilmentFee + ")");
    //             $("#shippingCost").text(data.fulfilmentFee);
    //             $("#cartTotal").text(data.fulfilmentFee + data.costOfGoods);
    //             $("#shippingFee").val(data.fulfilmentFee);
    //             $("#fulfilmentFee").val(data.fulfilmentFee);
    //             $('#deliveryOptions').prop('disabled', false);
    //             $("#proceedToPayment").prop('disabled', false);
    //             $("#proceedToPayment").removeAttr('disabled');
    //             if(deliveryOptionsVal == 'pickup'){

    //                 $("#shippingCost").text(0);
    //                 $("#cartTotal").text(cartSubTotal);
    //                 $("#shippingFee").val(0);
    //                 $("#delType").text("Pick-up");

    //             } else {

    //                 $("#shippingCost").text(data.fulfilmentFee);
    //                 $("#cartTotal").text(parseInt(cartSubTotal) + parseInt(data.fulfilmentFee));
    //                 $("#shippingFee").val(data.fulfilmentFee);
    //                 $("#delType").text("Delivery (Sendy)");

    //             }

    //         },
    //         error: function (xhr, status, error) {
    //             console.log(error);
    //         }
    //     });

    // });

</script>

<script>
    $("#deliveryOptions").on('change', function() {

        console.log($("#deliveryOptions").val());
        console.log("{{cart.total}}");
        var deliveryOptionsVal = $("#deliveryOptions").val();
        var cartSubTotal = "{{cart.total}}";
        if(deliveryOptionsVal == 'pickup'){

            $("#shippingCost").text(0);
            $("#cartTotal").text(cartSubTotal);
            $("#shippingFee").val(0);
            $("#delType").text("Pick-up");

        } 
        if(deliveryOptionsVal == 'cbd'){

            $("#shippingCost").text(100);
            $("#cartTotal").text(parseInt(cartSubTotal) + parseInt(100));
            $("#shippingFee").val(100);
            $("#delType").text("Delivery within CBD");

        }         
        if(deliveryOptionsVal == 'nairobi'){

            $("#shippingCost").text(300);
            $("#cartTotal").text(parseInt(cartSubTotal) + parseInt(300));
            $("#shippingFee").val(300);
            $("#delType").text("Delivery withing Nairobi");

        }         
        //$.ajax({
        //    url:"/checkout/check/delivery/fee",
        //    type: "POST",
        //    dataType: "json",
        //    data: {
        //        "order_id": "{{cart.id}}",
        //    },
        //    async: true,
        //    success: function (data)
        //    {
        //        console.log(data);
        //        $('select option:contains("Sendy")').text("Sendy Delivery (KES " + data.fulfilmentFee + ")");
        //        $("#shippingCost").text(data.fulfilmentFee);
        //        $("#cartTotal").text(data.fulfilmentFee + data.costOfGoods);
//
        //    },
        //    error: function (xhr, status, error) {
        //        console.log(error);
        //    }
        //});
//
    });

</script>


{% endblock %}