{% extends 'base.html.twig' %}

{% block title %}Checkout - Crystal Shea{% endblock %}

{% block body %}
{% include('include/header_pg.html.twig') %}

    <!--Checkout page section-->
    <div class="Checkout_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="user-actions">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                                aria-expanded="true">Click here to login</a>

                        </h3>
                        <div id="checkout_login" class="collapse" data-parent="#accordion">
                            <div class="checkout_info">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If
                                    you are a new customer please proceed to the Billing & Shipping section.</p>
                                <form action="#">
                                    <div class="form_group">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="form_group">
                                        <label>Password <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="form_group group_3 ">
                                        <button type="submit">Login</button>
                                        <label for="remember_box">
                                            <input id="remember_box" type="checkbox">
                                            <span> Remember me </span>
                                        </label>
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="#">
                            <h3>Billing Details</h3>
                            <div class="row">

                                <div class="col-lg-6 mb-20">
                                    <label>First Name <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label>Last Name <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>Street address <span>*</span></label>
                                    <input placeholder="House number and street name" type="text">
                                </div>
                                <div class="col-12 mb-20">
                                    <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>Town / City <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label>Phone<span>*</span></label>
                                    <input type="text">

                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label> Email Address <span>*</span></label>
                                    <input type="text">

                                </div>
                                <div class="col-12">
                                    <div class="panel-default">
                                        <input id="payment" name="check_method" type="radio"
                                            data-bs-target="createp_account" checked />
                                        <label for="payment" data-bs-toggle="collapse" data-bs-target="#method"
                                            aria-controls="method">Create an account?</label>

                                        <div id="method" class="open one" data-parent="#accordion">
                                            <div class="card-body1">
                                                <p>For easier process on your next purchase.</p>
                                            </div>
                                            <div class="card-body1">
                                                <label> Account password <span>*</span></label>
                                                <input placeholder="password" type="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-default">
                                        <input id="payment_defult" name="check_method" type="radio"
                                            data-bs-target="createp_account" />
                                        <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult"
                                            aria-controls="collapsedefult">Do Not create an account <img src="assets/img/icon/papyel.png"
                                                alt=""></label>

                                        <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                            <div class="card-body1">
                                                <p>In case you don't want to have an account now. You can create it later
                                                for easier purchase process.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="order-notes">
                                        <label for="order_note">Order Notes</label>
                                        <textarea id="order_note"
                                            placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form action="#">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                            {% if cart.items.count > 0 %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart.items %}
                                        <tr>
                                            <td> {{item.product.name}} <strong>  &#10005; {{item.quantity}}</strong></td>
                                            <td> Kes {{item.product.price * item.quantity }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td>Kes {{cart.total}}</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><strong>$5.00</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td><strong>Kes {{cart.total}}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            {% else %}
                                <div class="cart_empty alert alert-info">
                                    Your cart is empty.
                                </div>     
                            {% endif %}   
                            </div>
                            <h3>Pay With MPesa</h3>
                            <div class="payment_method">
                                <div class="panel-default">
                                    <p>Once we call you to confirm your order, you will do your full payment of {{cart.total}}
                                    through Lipa Na Mpesa Buy Goods Till Number - 5796723 (CRYSTAL SHEA). <br /><br />For all outside Nairobi 
                                    deliveries, please be prepared to pay in full when we give you a call to confirm your order. 
                                    This will include a small delivery fee, which varies based on your location and the product ordered.</p>
                                </div>
                                {# <div class="order_button">
                                    <button type="submit">Proceed to PayPal</button>
                                </div> #}
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">Place Order</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Checkout page section end-->


{% include ('include/shipping.html.twig') %}

{% include ('include/footer.html.twig') %}

{% endblock %}
