{% extends 'base.html.twig' %}

{% block title %}Checkout - Crystal Shea{% endblock %}
{% block stylesheets %}
<style>
    input[type="password"] {
        color: black !important;
        font-family: Verdana;
    }
</style>
{% endblock %}
{% block body %}
{% include('include/header_pg.html.twig') %}

    <!--Checkout page section-->
    <div class="Checkout_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <nav class="nav nav-pills nav-fill">
                    <a class="nav-link active" aria-current="page" href="#">1. ACCOUNT DETAILS</a>
                    <a class="nav-link disabled" href="#">2. ADDRESS DETAILS</a>
                    <a class="nav-link disabled" href="#">3. DELIVERY METHOD</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">4. PAYMENT METHOD</a>
                    </nav>
                    <div class="d-flex align-items-start">
                    <div class="tab-content" id="" style="width:100%">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            {# <div class="user-actions">
                                <h3>
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    Returning customer?
                                    <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                                        aria-expanded="true">Click here to login</a>

                                </h3>
                                <div id="checkout_login" class="collapse" data-parent="#accordion">
                                    <div class="checkout_info">
                                        <p>If you have shopped with us before, please enter your details in the boxes below. If
                                            you are a new customer please scroll down to create an account for easier process of your next purchase.</p>
                                        <form method="post">
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            {% if app.user %}
                                                <div class="mb-3">
                                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                                </div>
                                            {% endif %}



                                            <div class="form_group">
                                                <label>Email <span>*</span></label>
                                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                            </div>
                                            <div class="form_group">
                                                <label>Password <span>*</span></label>
                                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                            </div>
                                            <input type="hidden" name="_csrf_token"
                                                value="{{ csrf_token('authenticate') }}"
                                            >
                                            <div class="form_group group_3 ">
                                                <label for="_remember_me">
                                                    <input id="_remember_me" type="checkbox" name="_remember_me">
                                                    <span> Remember me </span>
                                                </label>
                                            </div>
                                            <a href="{{path('app_forgot_password_request')}}">Lost your password?</a>
                                
                                            <button style="width:200px!important" type="submit">Login and continue</button>

                                        </form>

                                    </div>
                                </div>
                            </div> #}
                            <div class="user-actions">
                                <h3>
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    Enter your details.
                                </h3>
                                <div class="checkout_form">
                                    <form action="{{ path('checkout_save_new_user') }}" method="post">
                                        {# <h3>Billing Details</h3> #}
                                        <div class="row">

                                            <div class="col-lg-6 mb-20">
                                                <label> Email Address <span>*</span></label>
                                                <input required="required" name="email" id="email"type="text">

                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <label>First Name <span>*</span></label>
                                                <input required="required" name="fname" id="fname" type="text">
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <label>Last Name <span>*</span></label>
                                                <input required="required" name="lname" id="lname"type="text">
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <label>Phone<span>*</span></label>
                                                <input required="required" name="phone" id="phone"type="text">

                                            </div>
                                            <div class="col-12" id="new_account" style="display:none;">
                                                <div class="panel-default">
                                                    <label for="payment" data-bs-toggle="collapse" data-bs-target="#method"
                                                        aria-controls="method">Create an account</label>

                                                    <div id="method" class="open one" data-parent="#accordion">
                                                        <div class="card-body1">
                                                            <p>For easier process on your next purchase.</p>
                                                        </div>
                                                        <div class="card-body1">
                                                            <label> Account password <span>*</span></label>
                                                            <input required="required" name="password" id="password"placeholder="password" type="password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form_group group_3 ">
                                                <button class="mt-3" style="width:100%!important" type="submit"><span id="action">Create Account</span> and continue</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    </div>
                    </div>
                
                </div>
                <div class="col-lg-4 col-md-4">
                    <form action="#">
                        <h3>Your order</h3>
                        <div class="order_table table-responsive">
                        {% if cart.items.count > 0 %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.items %}
                                    <tr>
                                        <td> {{item.product.name}} <strong>  &#10005; {{item.quantity}}</strong></td>
                                        <td> Kes {{item.product.price * item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td>Kes {{cart.total}}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td><strong>Not calculated</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <div class="cart_empty alert alert-info">
                                Your cart is empty.
                            </div>     
                        {% endif %}   
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Checkout page section end-->


{% include ('include/shipping.html.twig') %}

{% include ('include/footer.html.twig') %}

{% endblock %}
{% block javascripts %}
<script>
    $(window).on('load', function() {
        var emailAddress = $("#email").val();

        console.log($("#email").val());
        $.ajax({
            url:"/check/if/email/exists",
            type: "POST",
            dataType: "json",
            data: {
                "emailAddress": emailAddress,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $("#fname").val(data.fname);
                $("#lname").val(data.lname);
                $("#phone").val(data.phone);
                if(data.phone == '') {
                    $("#action").text("Create Account");
                    $("#new_account").show();
                } else {
                    $("#action").text("Log In");
                    $("#new_account").hide();
                }

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

    });

    $( "#email" ).focusout(function() {
        console.log('focused out of email');
        var emailAddress = $("#email").val();

        if(!emailAddress){
            // do nothing
        } else {

            $.ajax({
                url:"/check/if/email/exists",
                type: "POST",
                dataType: "json",
                data: {
                    "emailAddress": emailAddress,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $("#fname").val(data.fname);
                    $("#lname").val(data.lname);
                    $("#phone").val(data.phone);
                    if(data.phone == '') {
                        $("#action").text("Create Account");
                        $("#new_account").show();
                    } else {
                        $("#action").text("Log In");
                        $("#new_account").hide();
                    }

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

        }

    })

</script>

{% endblock %}