{% extends 'base.html.twig' %}

{% block title %}Checkout - Crystal Shea{% endblock %}
{% block stylesheets %}
<style>
    input[type="password"] {
        color: black !important;
        font-family: Verdana;
    }
</style>
{% endblock %}
{% block body %}
{% include('include/header_pg.html.twig') %}

    <!--Checkout page section-->
    <div class="Checkout_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <nav class="nav nav-pills nav-fill">
                    <a class="nav-link disabled" aria-current="page" href="#">1. ACCOUNT DETAILS</a>
                    <a class="nav-link active" href="#">2. ADDRESS DETAILS</a>
                    <a class="nav-link disabled" href="#">3. DELIVERY METHOD</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">4. PAYMENT METHOD</a>
                    </nav>
                    <div class="d-flex align-items-start">
                    <div class="tab-content" id="" style="width:90%; margin:auto;">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="user-actions">
                                <h3>
                                    <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    Now give us your address for ease of delivery?
                                </h3>
                                <div class="checkout_form">
                                    <form action="{{path('checkout_add_info')}}" method="post">
                                        {# <h3>Billing Details</h3> #}
                                        <div class="row">

                                            <div class="col-12 mb-20">
                                                <label>Street address <span>*</span></label>
                                                <input required="required" id="house" name="house" placeholder="Street Name and / or house number" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input id="apartment" name="apartment" placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>Town / City <span>*</span></label>
                                                <input required="required" id="town" name="town" type="text" placeholder="e.g Githurai, Nairobi">
                                            </div>
                                            <div class="col-12">
                                                <div class="order-notes">
                                                    <label for="order_note">Order Notes</label>
                                                    <textarea name="order_note" id="order_note"
                                                        placeholder="Notes about your order, e.g. special notes for delivery. (optional)"></textarea>
                                                </div>
                                            </div>
                                            <input type="hidden" name="order_id" value="{{cart.id}}">
                                            <div class="form_group group_3 ">
                                                <button class="mt-3" style="width:100%!important" type="submit">Save Address and continue</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    </div>
                    </div>
                
                </div>
                <div class="col-lg-4 col-md-4">
                    <form action="#">
                        <h3>Your order</h3>
                        <div class="order_table table-responsive">
                        <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />
                        {% if cart.items.count > 0 %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.items %}
                                    <tr>
                                        <td> {{item.product.name}} <strong>  &#10005; {{item.quantity}}</strong></td>
                                        <td> Kes {{item.product.price * item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td>Kes {{cart.total}}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td><strong>Not calculated</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />

                        {% else %}
                            <div class="cart_empty alert alert-info">
                                Your cart is empty.
                            </div>     
                        {% endif %}   
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Checkout page section end-->


{% include ('include/shipping.html.twig') %}

{% include ('include/footer.html.twig') %}

{% endblock %}
{% block javascripts %}
<script>
    $(window).on('load', function() {
        var emailAddress = $("#email").val();

        console.log($("#email").val());
        $.ajax({
            url:"/check/if/user/details/exist",
            type: "POST",
            dataType: "json",
            data: {
                "user_id": "{{app.user.id}}",
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $("#house").val(data.house);
                $("#apartment").val(data.apartment);
                $("#town").val(data.town);

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

    });

</script>


{% endblock %}