{% extends 'base.html.twig' %}

{% block title %}Checkout - Crystal Shea{% endblock %}
{% block stylesheets %}
<style>
    input[type="password"] {
        color: black !important;
        font-family: Verdana;
    }
</style>
{% endblock %}
{% block body %}

{% include('include/header_pg.html.twig') %}

    <!--Checkout page section-->
    <div class="Checkout_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <nav class="nav nav-pills nav-fill">
                    <a class="nav-link disabled" aria-current="page" href="#">1. ACCOUNT DETAILS</a>
                    <a class="nav-link disabled" href="#">2. ADDRESS DETAILS</a>
                    <a class="nav-link disabled" href="#">3. DELIVERY METHOD</a>
                    <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">4. PAYMENT METHOD</a>
                    </nav>
                    <div class="d-flex align-items-start">
                    <div class="tab-content" id="" style="width:90%; margin:auto;">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="user-actions">
                                <h3>
                                    <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    Make payment with MPESA.
                                </h3>
                                <div class="checkout_form">
                                    <form action="{{path('checkout_submit_payment')}}" method="post">
                                        {# <h3>Billing Details</h3> #}
                                        <div class="row">

                                            <div class="col-12 mb-20">
                                                <label>Your Safaricom Phone Number<span>*</span></label>
                                                <input required="required" id="phone" name="phone" placeholder="07********" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>Amount to pay: <span>*</span></label>
                                                <input required="required" readonly id="amountToPay" name="amountToPay" type="text" value="{{ cart.total + shippingFee }}">
                                            </div>
                                            <input type="hidden" name="order_id" value="{{cart.id}}">
                                            <div class="form_group group_3 ">
                                                <button class="mt-3" id="pay_{{order_id}}" style="width:100%!important" type="submit">Pay</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {# update order to post-cart, create order to sendy, send emails to karen and sendy just in case #}
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    </div>
                    </div>
                
                </div>
                <div class="col-lg-4 col-md-4">
                    <form action="#">
                        <h3>Your order</h3>
                        <div class="order_table table-responsive">
                        <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />
                        {% if cart.items.count > 0 %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.items %}
                                    <tr>
                                        <td> {{item.product.name}} <strong>  &#10005; {{item.quantity}}</strong></td>
                                        <td> Kes {{item.product.price * item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td>Kes {{cart.total}}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td><strong>{{shippingFee}}</strong></td>
                                    </tr>
                                    <tr>
                                        <th>Cart Total</th>
                                        <td><strong><span id="cartTotal">{{ cart.total + shippingFee }}</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> Edit cart</a><br />

                        {% else %}
                            <div class="cart_empty alert alert-info">
                                Your cart is empty.
                            </div>     
                        {% endif %}   
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Checkout page section end-->


{% include ('include/shipping.html.twig') %}

{% include ('include/footer.html.twig') %}

{% endblock %}
{% block javascripts %}


<script>
    $(window).on('load', function() {

        console.log($("#email").val());
        $.ajax({
            url:"/checkout/update/phone/number",
            type: "POST",
            dataType: "json",
            data: {
                "user_id": "{{app.user.id}}",
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $("#phone").val(data.phone);

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

    });

</script>

<script>

    $(document).on('click', '[id^="pay4_"]', function(){
  
        var orderId = jQuery(this).attr("id").split("_")[1];
        var number = $("#phone").val();
        var amount = $("#amountToPay").val();
        var payFor = "{{payFor}}";
  
        //console.log("amount: " + amount);
        var userexists = $("#userexists").val();
        var reference;
        reference = "CS-ORDER-"+orderId;
  
        var description = "Payment for "+payFor;
        var form = document.getElementById("eventPaymentForm");
        var form_data = $( form ).serializeArray();
        var request_id = $("#request_id").val();
        // console.log(form_data);
        var valid = validateForm(form_data);
        console.log('valid: ' + valid);
        if(valid){
  
            $.ajax({
                url:"/make/online/payment/push",
                type: "POST",
                dataType: "json",
                data: {
                    "number": number,
                    "amount": amount,
                    "reference": reference,
                    "description": description,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    if(data.status == 'pending'){
                        $("#request_id").val(data.response);
                        // showSimpleAlert('Payment in process. Check Your Phone and enter your MPESA PIN then click "CLICK TO CONFIRM" below to validate', 20000);
                        $("#payNow").fadeOut(1000);
                        Swal.fire({
                            title: 'Payment In Process',
                            text: "Check your phone and enter your MPESA pin. Wait for confirmation message from M-Pesa then continue.",
                            icon: 'success',
                            showCancelButton: true,
                            allowOutsideClick: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'I have done that!'
                          }).then((result) => {
                            if (result.isConfirmed) {
                              
                                var request_id = $("#request_id").val();
                                
                                $.ajax({
                                    url:"/pmt/stk_push/check/status",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "request_id": request_id,
                                    },
                                    async: true,
                                    success: function (data)
                                    {
                                        console.log(data);
                                        if(data.status == 'success'){
                                            showSimpleAlert('Perfect!. You have paid successfully.', 5000);
                                        } else {
                                          Swal.fire({
                                            title: 'Try again',
                                            text: "Wait for your confirmation message from M-Pesa and try again!",
                                            icon: 'info',
                                            showCancelButton: true,
                                            allowOutsideClick: false,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'I have done that!'
                                          }).then((result) => {
                                            if (result.isConfirmed) {
                                                var form = document.getElementById("eventPaymentForm");
                                                var form_data = $( form ).serializeArray();
                                                var request_id = $("#request_id").val();
                                                // console.log(form_data);
                                                var valid = validateForm(form_data);
                                                console.log('valid: ' + valid);
                                                if(valid){
                                                
                                                    $.ajax({
                                                        url:"/pmt/stk_push/check/status",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: {
                                                            "request_id": request_id,
                                                        },
                                                        async: true,
                                                        success: function (data)
                                                        {
                                                            console.log(data);
                                                            if(data.status == 'success'){
                                                                showSimpleAlert('Perfect!. You have paid successfully.', 5000);
                                                            } else {
                                                              
                                                            }
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log(error);
                                                            showSimpleAlert(error, 5000, 'info');
                                                        }
                                                    });
                                                
                                                } else {
                                                    console.log('failed');
                                                    showSimpleAlert('Payment failed. Please check your balance.', 5000)
                                                  
                                                }
                                                
                                            }
                                          })                
  
  
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.log(error);
                                        showSimpleAlert(error, 5000, 'info');
                                    }
                                });
                                
                                
                            }
                          })                
                    } else {
                        showSimpleAlert('Failed. Something is not right. Check your phone number again.', 5000, 'info')
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    showSimpleAlert(error, 5000, 'info');
                }
            });
  
          } else {
  
              showSimpleAlert('Please fill in all the required fields.', 5000, 'info');
  
          }
  
    
    
    })
    
</script>


{% endblock %}