{% extends 'base.html.twig' %}

{% block title %}Cart - Crystal Shea{% endblock %}
{% block stylesheets %}
<style>
    label {
    white-space:nowrap;
    }
<
    .wrappable {
        white-space:normal;
    }
</style>
{% endblock %}
{% block body %}
{% include('include/header_pg.html.twig') %}

    <!--shopping cart area start -->
    <div class="shopping_cart_area">
        <div class="container">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">

                                {% if cart.items.count > 0 %}
                                
                                <table>
                                    <thead>
                                        <th colspan="2">
                                            CART &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-danger btn-sm" href="{{path('checkout_account')}}">Proceed to Checkout</a>
                                        </th>
                                    </thead>
                                    <tbody>
                                        {% for item in form.items %}                                        
                                        <tr>
                                            <td class="product_remove">
                                                <a href="#"><img style="width:100px;" src="{{asset('dist/assets/product/' ~ item.vars.data.product.image )}}" alt=""></a><br/>
                                                {{ form_widget(item.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}
                                            </td>
                                            <td style="text-align:right!important;" class="product_name" title="{{item.vars.data.product.description[:150]|striptags }}..." >
                                                <a href="#">{{item.vars.data.product.name}} {{item.vars.data.product.size}}</a>
                                                <div style="clear:both;">
                                                {{ form_widget(item.quantity, {
                                                    'attr': {
                                                        'class': 'pull-right form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid'),
                                                        'style': 'width: 100px;'
                                                    }
                                                }) }}
                                                </div><br/><br/>
                                                Each @ Kes {{ item.vars.data.product.price }}<br />
                                                Sub-total: Kes {{ item.vars.data.product.price * item.vars.data.quantity }}
                                            </td>
                                            <div class="invalid-feedback">
                                                {{ form_errors(item.quantity) }}
                                            </div>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                                {% else %}
                                <div class="alert alert-info">
                                    Your cart is empty. Go to the <a href="{{ path('default') }}">product list</a>.
                                </div>
                                {% endif %}
                            </div>
                            <div class="cart_submit">
                                {{ form_widget(form.save, {'label': 'Update Cart', 'attr': {'class': 'btn btn-warning'}}) }}
                                {{ form_widget(form.clear, {'attr': {'class': 'btn btn-light'}}) }}                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">Kes {{cart.total}}</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount"><span id="shipping-cost" style="margin-right:0px!important">Not calculated</span></p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount" id="cart-total">Kes {{cart.total}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="coupon_code right">
                            <div class="coupon_inner">
                                <div class="checkout_btn">
                                    <a href="{{path('checkout_account')}}">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        {# <div class="col-lg-6 col-md-6">
                            <div class="coupon_code left">
                                <h3>Delivery</h3>
                                <div class="coupon_inner">
                                    <div class="panel-default">
                                        <label for="free-pick-cbd" data-bs-toggle="collapse" aria-controls="method">
                                            <input id="free-pick-cbd" value="free-pick-cbd" name="check_method" type="radio" data-bs-target="createp_account" checked />
                                            <span class="wrappable">Pick up or Delivery within CBD - Free  
                                        </label>
                                    </div>
                                    <div class="panel-default">
                                        <label for="next-day-delivery" data-bs-toggle="collapse" aria-controls="collapsedefult">
                                            <input id="next-day-delivery" value="next-day-delivery" name="check_method" type="radio" data-bs-target="createp_account" />                                        
                                            <span class="wrappable">Next Day Delivery within Nairobi County - Kes 100 </span>
                                        </label>
                                    </div>
                                    <div class="panel-default">
                                        <label for="same-day-delivery" data-bs-toggle="collapse" aria-controls="collapsedefult">
                                            <input id="same-day-delivery" value="same-day-delivery" name="check_method" type="radio" data-bs-target="createp_account" />                                            
                                            <span class="wrappable">Same Day Delivery Within Nairobi County</span>
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>        

                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>
                <!--coupon code area end-->
                {{ form_end(form) }}
        </div>
    </div>
    <!--shopping cart area end -->


{% include ('include/shipping.html.twig') %}

{% include ('include/footer.html.twig') %}

{% endblock %}
{% block javascripts %}
<script>
    $( document ).ready(function() {
        $('#same-day-choose').hide();
        var $radios = $('input:radio[name=check_method]'); 
        $radios.filter('[value=free-pick-cbd]').prop('checked', true);
    });
    $('input[type=radio][name=check_method]').on('change', function() {
        var sameDayShippingCost = parseInt($('#same-day-choose').val().split('-')[0]);
        var cartTotal = parseInt('{{cart.total}}');
        switch ($(this).val()) {
            case 'free-pick-cbd':
            $('#same-day-choose').prop('disabled', true);
            $('#same-day-choose').hide();
            $('#free').show();
            $('#shipping-cost').text("Kes 0");
            $('#cart-total').text(cartTotal);
            break;
            case 'next-day-delivery':
            $('#same-day-choose').prop('disabled', true);
            $('#same-day-choose').hide();
            $('#free').hide();
            $('#shipping-cost').text("Kes 100");
            $('#cart-total').text('Kes ' + (cartTotal + 100) )
            break;
            case 'same-day-delivery':
            $('#same-day-choose').prop('disabled', false);
            $('#same-day-choose').show();
            $('#free').hide();
            $('#shipping-cost').text("Kes " + sameDayShippingCost);
            $('#cart-total').text("Kes " + (cartTotal + sameDayShippingCost));
            console.log('changed');
            break;
        }
    });    
</script>
<script>
    $('#same-day-choose').on('change', function() {
        $('#shipping-cost').text("Kes " + $('#same-day-choose').val().split('-')[0]);
    })
</script>
{% endblock %}