{% extends 'base.html.twig' %}

{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} - Log in{% endblock %}
{% block stylesheets %}
<style>

#_remember_me {
    display: inline;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
input[type="password"] {
    font-family: revert;
}
</style>
{% endblock %}
{% block body %}
{% include('include/header_pg.html.twig') %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- customer login start -->
    <div class="customer_login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6 offset-md-3 offset-md-2">
                    <div class="account_form">
                        <h2>login</h2>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            
                                {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html #}

                                <div class="checkbox mb-3">
                                    <input id="_remember_me" type="checkbox" name="_remember_me" checked>
                                    <label for="_remember_me">
                                         Remember me
                                    </label>
                                    <a href="{{path('app_forgot_password_request')}}"> &nbsp; &nbsp; &nbsp; &nbsp; |  &nbsp; &nbsp;Forgot password?</a>
                                </div>
                           

                            <button class="btn btn-lg btn-primary" type="submit">
                                Sign in
                            </button>
                        </form>
                    </div>
                </div>
                <!--login area start-->
                
            </div>
        </div>
    </div>
    <!-- customer login end -->



{% endblock %}
