<form method="post" class="float-left" action="{{ path('user_setting_delete', {'id': user_setting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_setting.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
