{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="value">Content</label>
        <div class="col-md-10">
            {{ form_widget(form.value, {'attr': {'class': 'form-control', 'placeholder': 'Content'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="simpleinput">Setting</label>
        <div class="col-md-10">
            {{ form_widget(form.setting, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

