{% extends 'admin_base.html.twig' %}

{% block title %}Your Contents{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="mt-0 header-title">Your contents</h4>
                <p class="text-muted font-14 mb-3">
                    A list of contents you've created.
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Setting</th>
                            <th>Value</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user_setting in user_settings %}
                        <tr>
                            <td>{{ user_setting.setting.name }}</td>
                            <td>{{ user_setting.value }}</td>
                            <td>
                                <a href="{{ path('user_setting_show', {'id': user_setting.id}) }}">show</a>
                                <a href="{{ path('user_setting_edit', {'id': user_setting.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end row -->

    <a href="{{ path('user_setting_new') }}">Create new content</a>
{% endblock %}