{% extends 'admin_base.html.twig' %}

{% block title %}New Content{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Create new Content</h4>
                <p class="sub-header">
                    Content created here will be publicly visible. You can edit contents later after saving them.
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            {{ include('user_setting/_form.html.twig') }}
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a href="{{ path('user_setting_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
<script>
    $( document ).ready(function() {
        $("#user_setting_setting").val("{{setting is not null ? setting.id : ''}}");        
        $("#user_setting_value").val("{{val}}");        
    });
</script>
{% endblock %}