{% extends 'admin_base.html.twig' %}

{% block title %}Content{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Content</h4>
                <p class="sub-header">
                    View content
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ user_setting.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Content</th>
                                        <td>{{user_setting.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a href="{{ path('user_setting_index') }}">back to list</a>

    <a href="{{ path('user_setting_edit', {'id': user_setting.id}) }}">edit</a>

    {{ include('user_setting/_delete_form.html.twig') }}

{% endblock %}
