{% extends 'base.html.twig' %}

{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} - Register{% endblock %}
{% block stylesheets %}
<style>

#registration_form_agreeTerms {
    display: inline;
    width: 50%;
    height: 20px;
    margin-top: 10px;
}
input[type="password"] {
    font-family: revert;
}

</style>
{% endblock %}
{% block body %}
{% include('include/header_pg.html.twig') %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- customer login start -->
    <div class="customer_login">
        <div class="container">
            <div class="row">

                <!--register area start-->
                <div class="col-lg-6 col-md-6 offset-md-3 offset-md-2">
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <div class="account_form register">
                        <h2>Register</h2>
                        {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
                            {{ form_row(registrationForm.agreeTerms) }}

                            <button type="submit" class="btn">Register</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div>
    <!-- customer login end -->


{% endblock %}
