
    <!--banner static area start-->
    <div class="product_banner_static mb-95">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div class="product_banner_left">
                        <div class="product_carousel product_column1 owl-carousel">
                            <article class="single_product">
                                <figure>
                                {% set img = data.featuredProduct is not null ? data.featuredProduct.image %}
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}"><img
                                                src="{{asset('dist/assets/product/' ~ img )}}" alt=""></a>
                                        <a class="secondary_img" href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}"><img
                                                src="{{asset('dist/assets/product/' ~ img )}}" alt=""></a>
                                        <div class="label_product">
                                            <span class="label_sale">-Kes 50</span>
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="wishlist"><a href="#" title="Add to Wishlist"><i
                                                            class="icon-heart icons"></i></a></li>
                                                <li class="compare"><a href="#" title="Add to Compare"><i
                                                            class="icon-refresh icons"></i></a></li>
                                                <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#modal_box{{data.featuredProduct.id}}" title="quick view"> <i
                                                            class="icon-magnifier-add icons"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <div class="product_content_inner">
                                            <h4 class="product_name"><a href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}">{{data.featuredProduct is not null ? data.featuredProduct.name}}</a></h4>
                                            <div class="price_box">
                                                <span class="old_price">Kes {{data.featuredProduct is not null ? data.featuredProduct.price + 50}}</span>
                                                <span class="current_price">Kes {{data.featuredProduct is not null ? data.featuredProduct.price}}</span>
                                            </div>
                                            <div class="add_to_cart">
                                                <a class="add_to_cart-{{data.featuredProduct.id}}" href="javascript:void(0)">+ Add to cart</a>
                                            </div>
                                        </div>
                                        <div class="product_timing">
                                            <div data-countdown="{{'now'|date_modify("+1 day")|date('Y/m/d')}}"></div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="banner_static_right2">
                        <div class="banner_static_content">
                            <h3>{{u_settings.shop_now_top_text is defined ? u_settings.shop_now_top_text : 'Bonique deals'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'shop_now_top_text'})}}"><i class="fa fa-edit"></i></a>{% endif %}</h3>
                            <h2>{{u_settings.shop_now_title is defined ? u_settings.shop_now_title|raw : 'Model Skin Care <br> Essentials'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'shop_now_title'})}}"><i class="fa fa-edit"></i></a>{% endif %}</h2>
                            <a href="{{path('shop', {'category': 'all'}) }}">{{u_settings.shop_now_text is defined ? u_settings.shop_now_text : '+ Shop Now'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'shop_now_text'})}}"><i class="fa fa-edit"></i></a>{% endif %}</a>
                        </div>
                        <div class="banner_static_thumb2">
                            <a href="{{path('shop', {'category': 'all'}) }}"><img src="{{asset(u_settings.shop_now_image_810x450 is defined ? u_settings.shop_now_image_810x450 : 'bonique/assets/img/bg/banner12.jpg')}}" alt=""></a>
                        </div>
                        {% if app.user and app.user.id == contact.id %}
                        <button id="upload_banner-5" class="btn btn-sm btn-secondary float-end" style="margin-top:-32px; position:relative; z-index:10;" type="button">
                            <i class="fa fa-upload"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner static area end-->
