
    <!--banner area start-->
    <div class="banner_aera banner_style_three mb-95">
        <div class="container-fluid">
            <div class="row">
            {% for category in data.featuredCategories %}
                <div class="col-lg-6 col-md-6">
                    <div class="banner_thumb">
                        <a href="{{path('shop', {'category': category.id, 'c': category.name}) }}">
                            {% if loop.index == 1 %}
                            <img src="{{asset(u_settings.featured_category_image_1_915x503 is defined ? u_settings.featured_category_image_1_915x503 : 'bonique/assets/img/bg/banner13.jpg')}}" alt="">
                            {% else %}
                            <img src="{{asset(u_settings.featured_category_image_2_915x503 is defined ? u_settings.featured_category_image_2_915x503 : 'bonique/assets/img/bg/banner13.jpg')}}" alt="">
                            {% endif %}
                        </a>
                        <div class="banner_text">
                            <h3>{{category.name}}</h3>
                            {% if loop.index == 1 %}
                            <p>{{u_settings.featured_category_1_text is defined ? u_settings.featured_category_1_text|raw : 'Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndissesuscipit sagittis'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'featured_category_1_text'})}}"><i class="fa fa-edit"></i></a>{% endif %}</p>
                            {% else %}
                            <p>{{u_settings.featured_category_2_text is defined ? u_settings.featured_category_2_text|raw : 'Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndissesuscipit sagittis'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'featured_category_2_text'})}}"><i class="fa fa-edit"></i></a>{% endif %}</p>
                            {% endif %}
                        </div>
                    </div>
                        {% if app.user and app.user.id == contact.id %}
                        <button id="upload_banner-{{ 18 + loop.index}}" class="btn btn-sm btn-secondary float-end" style="margin-top:-32px; position:relative; z-index:10;" type="button">
                            <i class="fa fa-upload"></i>
                        </button>
                        {% endif %}                     
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!--banner area end-->
