                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                        {# <div class="widget_list widget_search">
                            <div class="widget_title">
                                <h3>Search</h3>
                            </div>
                            <form action="#">
                                <input placeholder="Search..." type="text">
                                <button type="submit">search</button>
                            </form>
                        </div> #}
                        <div class="widget_list comments">
                            <div class="widget_title">
                                <h3>Recent Comments</h3>
                            </div>
                            {% for comment in comments %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{{asset('dist/assets/profile/person_thumb.png')}}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <span> <a href="#">{{comment.name}}</a> says</span>
                                    <a href="#">{{comment.content|slice(0, 50)}}...</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="widget_list widget_post">
                            <div class="widget_title">
                                <h3>Recent Posts</h3>
                            </div>
                            {% set counter = 0 %}
                            {% for post in posts %}
                            {% set counter = counter + 1 %}
                            {% if counter < 6 %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="{{path('post_show', {'id': post.id, 'title': post.title})}}"><img src="{{asset('dist/assets/images/' ~ post.image )}}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h4><a href="{{path('post_show', {'id': post.id, 'title': post.title})}}">{{post.title}}</a></h4>
                                    <span>{{post.createdAt|date('F j, Y \a\t h:i a')}} </span>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {# <div class="widget_list widget_categories">
                            <div class="widget_title">
                                <h3>Categories</h3>
                            </div>
                            <ul>
                            {% for category in categories %}
                                <li><a href="#">{{category.name}}</a></li>
                            {% else %}
                                <li>No categories added</li>
                            {% endfor %}
                            </ul>
                        </div> #}
                        {# <div class="widget_list widget_tag">
                            <div class="widget_title">
                                <h3>Tag products</h3>
                            </div>
                            <div class="tag_widget">
                                <ul>
                                    <li><a href="#">asian</a></li>
                                    <li><a href="#">brown</a></li>
                                    <li><a href="#">euro</a></li>
                                </ul>
                            </div>
                        </div> #}
                    </div>
                </div>
