
    <!--blog area start-->
    <section class="blog_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>From Our Blog</h2>
                        <p>There are latest blog posts </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog_carousel blog_column3 owl-carousel">
                    {% for post in data.blogPosts %}
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="{{path('post_show', {'id': post.id, 'title': post.title})}}"><img src="{{asset('dist/assets/images/' ~ post.image)}}" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title"><a href="{{path('post_show', {'id': post.id, 'title': post.title})}}"> {{post.title}}</a></h4>
                                    <p>Posted by {{post.user.fullname}} <span>{{post.updatedAt|date('F j, Y')}}</span></p>
                                    <footer class="blog_footer">
                                        <a href="{{path('post_show', {'id': post.id, 'title': post.title})}}">+ Read More</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    {% else %}
                    <p>No blog posts yet</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--blog area end-->
