    <!--categories product area start-->
    <div class="categories_product_aera mb-95">
    {% if app.user and app.user.id == contact.id %}
        <a style="float:right;font-size:2em;margin-right:50px;" target="_blank" href="{{path('category_new')}}"><i class="fa fa-plus"></i></a>
    {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="categories_container categories_column6 owl-carousel">
                    {% for category in data.categories %}
                    <div class="col-lg-2">
                        <div class="single_categories">
                            <div class="categories_product_thumb">
                                <a href="{{path('shop', {'category': category.id, 'c': category.name}) }}"><img style="height:83px; width:83px" src="{{asset('dist/assets/product/' ~ category.image )}}" alt=""></a>
                            </div>
                            <div class="categories_product_text">
                                <h3><a href="{{path('shop', {'category': category.id, 'c': category.name}) }}">{{category.name}}</a></h3>
                                <span>/ {{category.products|length}} items</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--categories product area end-->
