    <!--header area start-->

    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">

    </div>
    <div class="offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="icon-menu"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                        </div>
                        <div class="language_currency top">
                            <ul>
                                <li class="language"><a href="#"><img src="assets/img/icon/language.png" alt=""> English
                                        <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="#"> $ <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">Kes: Kenya Shillings</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="tel:{{contact is not null ? contact.phone : 'No phone provided'}}">{{contact is not null ? contact.phone : 'No phone provided'}}</a>
                                    {% if app.user and app.user.id == contact.id %}
                                        <a target="_blank" href="{{path('profile')}}"><i class="fa fa-edit"></i></a>
                                    {% endif %}                                    
                                </li>

                            </ul>
                        </div>
                        <div class="language_currency bottom">
                            <ul>
                                <li>
                                    <span>
                                    {{u_settings.working_hours is defined ? u_settings.working_hours : 'Provide Working Hours'}}
                                    {% if app.user and app.user.id == contact.id %}
                                        <a target="_blank" href="{{path('user_setting_new', {'description': 'working_hours'})}}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="account"><a href="#"> Setting <i
                                            class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency bottom_drop_c">
                                        <li><a href="#">Kes: Kenya Shillings</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="icon-equalizer icons"></i> Compare (3)</a></li>
                                <li><a href="#"><i class="icon-heart"></i> Wishlist (3)</a></li>
                            </ul>
                        </div>
                        <div class="header_account_area">
                            <div class="header_account_list search_list">
                                <a href="javascript:void(0)"><i class="icon-magnifier icons"></i></a>
                                <div class="dropdown_search">
                                    <form action="#">
                                        <input placeholder="Search entire store here ..." type="text">
                                        <button type="submit"><i class="icon-magnifier icons"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="header_account_list  mini_cart_wrapper">
                                <a href="{{path('cart')}}"><i class="icon-bag icons"></i>
                                    <span class="cart_itemtext">Cart:</span>
                                    <span class="cart_itemtotal">Kes {{cart.total}}</span>
                                    <span class="item_count cart_item_count">{{cart.items.count}}</span>
                                </a>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    <div class="cart_gallery">
                                      <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> View cart</a> | <a href="{{path('checkout_account')}}"><i class="fa fa-sign-in"></i> Checkout </a>
                                      <div class="cart_list">
                                        {% for item in cart.items %}
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="{{asset('dist/assets/product/' ~ item.product.image )}}" alt="{{item.product.name}}"></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">{{item.product.name}}</a>
                                                <p>1 x <span>{{item.product.price}} </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="{{path('cart')}}"><i class="ion-ios-close-outline"></i></a>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="cart_empty alert alert-info">
                                            Your cart is empty.
                                        </div>        
                                        {% endfor %}
                                      </div>
                                    </div>
                                    <div class="mini_cart_table">
                                        <div class="cart_table_border">
                                            <div class="cart_total">
                                                <span>Sub total:</span>
                                                <span class="total_price price">Kes {{cart.total}}</span>
                                            </div>
                                            <div class="cart_total mt-10">
                                                <span>total:</span>
                                                <span class="total_price price">Kes {{cart.total}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> View cart</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="{{path('checkout_account')}}"><i class="fa fa-sign-in"></i> Checkout</a>
                                        </div>

                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>

                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="{{path('default')}}">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{{path('shop', {'category': 'all'}) }}">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">All Categories</a>
                                            <ul class="sub-menu">
                                                {% if data.categories is defined %}
                                                {% for category in data.categories %}
                                                <li><a href="{{path('shop', {'category': category.id, 'c': category.name}) }}">{{category.name}}</a></li>
                                                {% endfor %}
                                                {% else %}
                                                <li><a href="{{path('shop', {'category': 'all'}) }}">Start Shopping</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{{path('blog_index')}}">blog</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="{{path('admin')}}">My account</a></li>
                                        {% if app.user and app.user != null %}
                                        <li><a href="{{path('app_logout')}}">Logout</a></li>
                                        {% else %}
                                        <li><a href="{{path('app_login')}}">Login</a></li>
                                        <li><a href="{{path('app_register')}}">Registration</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">about Us</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#contact_area"> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> demo@example.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--offcanvas menu area end-->

    <header>
        <div class="main_header">
            <div class="header_top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="language_currency top_left">
                                <ul>
                                    <li class="language"><a href="#"><img src="assets/img/icon/language.png" alt="">
                                            English <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="#">Swahili</a></li>
                                        </ul>
                                    </li>
                                    <li class="currency"><a href="#"> $ <i
                                                class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="#">Kes: Kenya Shillings</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="tel:{{contact is not null ? contact.phone : 'No phone provided'}}">{{contact is not null ? contact.phone : 'No phone provided'}}</a>
                                        {% if app.user and app.user.id == contact.id %}
                                            <a target="_blank" href="{{path('profile')}}"><i class="fa fa-edit"></i></a>
                                        {% endif %}                                    
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="language_currency text-right">
                                <ul>
                                    <li>
                                        <span>
                                        {{u_settings.working_hours is defined ? u_settings.working_hours : 'Provide Working Hours'}}
                                        {% if app.user and app.user.id == contact.id %}
                                            <a target="_blank" href="{{path('user_setting_new', {'description': 'working_hours'})}}"><i class="fa fa-edit"></i></a>
                                        {% endif %}
                                        </span>
                                    </li>
                                    <li class="account"><a href="#"> Setting <i
                                                class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="#">Kes: Kenya Shillings</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icon-equalizer icons"></i> Compare (3)</a></li>
                                    <li><a href="#"><i class="icon-heart"></i> Wishlist (3)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_middle sticky-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="{{path('default')}}"><img src="{{asset('bonique/assets/img/logo/logo.png')}}" alt="{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}}"></a>
                            </div>

                        </div>
                        <div class="col-lg-10">
                            <div class="header_right_info menu_position">
                                <!--main menu start-->
                                <div class="main_menu">
                                    <nav>
                                        <ul>
                                            <li><a class="active" href="{{path('default')}}">home</a>
                                            </li>
                                            <li><a href="{{path('shop', {'category': 'all'}) }}">shop <i class="fa fa-angle-down"></i></a>
                                                <ul class="sub_menu pages">
                                                    {% if data.categories is defined %}
                                                    {% for category in data.categories %}
                                                    <li><a href="{{path('shop', {'category': category.id, 'c': category.name}) }}">{{category.name}}</a></li>
                                                    {% endfor %}
                                                    {% else %}
                                                    <li><a href="{{path('shop', {'category': 'all'}) }}">Start Shopping</a></li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            <li><a href="{{path('blog_index')}}">blog</a>
                                            </li>
                                            <li><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                                <ul class="sub_menu pages">
                                                    <li><a href="{{path('admin')}}">My account</a></li>
                                                    {% if app.user and app.user != null %}
                                                    <li><a href="{{path('app_logout')}}">Logout</a></li>
                                                    {% else %}
                                                    <li><a href="{{path('app_login')}}">Login</a></li>
                                                    <li><a href="{{path('app_register')}}">Registration</a></li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            <li><a href="#contact_area"> Contact Us</a></li>
                                            <li><a href="#"> About us</a></li>

                                        </ul>
                                    </nav>
                                </div>
                                <!--main menu end-->
                                <div class="header_account_area">
                                    <div class="header_account_list search_list">
                                        <a href="javascript:void(0)"><i class="icon-magnifier icons"></i></a>
                                        <div class="dropdown_search">
                                            <form action="#">
                                                <input placeholder="Search entire store here ..." type="text">
                                                <button type="submit"><i class="icon-magnifier icons"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="header_account_list  mini_cart_wrapper">
                                        <a href="{{path('cart')}}"><i class="icon-bag icons"></i>
                                            <span class="cart_itemtext">Cart:</span>
                                            <span class="cart_itemtotal">Kes {{cart.total}}</span>
                                            <span class="item_count cart_item_count">{{cart.items.count}}</span>
                                        </a>
                                        <!--mini cart-->
                                        <div class="mini_cart">
                                            <div class="cart_gallery">
                                            <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> View cart</a> | <a href="{{path('checkout_account')}}"><i class="fa fa-sign-in"></i> Checkout </a>
                                            <div class="cart_list">
                                                {% for item in cart.items %}
                                                <div class="cart_item">
                                                    <div class="cart_img">
                                                        <a href="#"><img src="{{asset('dist/assets/product/' ~ item.product.image )}}" alt="{{item.product.name}}"></a>
                                                    </div>
                                                    <div class="cart_info">
                                                        <a href="#">{{item.product.name}}</a>
                                                        <p>{{item.quantity}} x <span> Kes {{item.product.price}} </span></p>
                                                    </div>
                                                    <div class="cart_remove">
                                                        <a href="{{path('cart')}}"><i class="ion-ios-close-outline"></i></a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="cart_empty alert alert-info">
                                                    Your cart is empty.
                                                </div>        
                                                {% endfor %}
                                            </div>
                                            </div>
                                            <div class="mini_cart_table">
                                                <div class="cart_table_border">
                                                    <div class="cart_total">
                                                        <span>Sub total:</span>
                                                        <span class="total_price price">Kes {{cart.total}}</span>
                                                    </div>
                                                    <div class="cart_total mt-10">
                                                        <span>total:</span>
                                                        <span class="total_price price">Kes {{cart.total}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mini_cart_footer">
                                                <div class="cart_button">
                                                    <a href="{{path('cart')}}"><i class="fa fa-shopping-cart"></i> View cart</a>
                                                </div>
                                                <div class="cart_button">
                                                    <a href="{{path('checkout_account')}}"><i class="fa fa-sign-in"></i> Checkout</a>
                                                </div>

                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->
