
    <!--product area start-->
    <div class="product_area  mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Featured products </h2>
                        <p>Add our new arrivals to your weekly lineup</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product_carousel product_column4 owl-carousel">
                    {% for product in data.products %}
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}"><img
                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                    <a class="secondary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}"><img
                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-50/=</span>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="wishlist"><a href="#" title="Add to Wishlist"><i
                                                        class="icon-heart icons"></i></a></li>
                                            <li class="compare"><a href="#" title="Add to Compare"><i
                                                        class="icon-refresh icons"></i></a></li>
                                            <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#modal_box{{product.id}}" title="quick view"> <i
                                                        class="icon-magnifier-add icons"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <figcaption class="product_content">
                                    <h4 class="product_name"><a href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}">{{product.name}} {{product.size}}</a>
                                    </h4>
                                    <div class="price_box">
                                        <span class="old_price">Kes {{product.price + 50}}</span>
                                        <span class="current_price">Kes {{product.price}}</span>
                                    </div>
                                    <div class="add_to_cart">
                                        <a class="add_to_cart-{{product.id}}" href="javascript:void(0)">+ Add to cart</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--product area end-->
