
    <!--product area start-->
    <div class="product_area  mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_header">
                        <div class="section_title">
                            <h2>Our Variety</h2>
                            <p>Browse our natural products by category</p>
                        </div>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist">
                            {% for category in data.categories %}
                                <li>
                                    <a {% if loop.index == 1 %} class="active" {% endif %} data-bs-toggle="tab" href="#{{category.name|replace({' ': '-'})}}" role="tab" aria-controls="makeup"
                                        aria-selected="true">
                                        {{category.name}}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_container">
                <div class="tab-content">
                {% for category in data.categories %}
                    <div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" id="{{category.name|replace({' ': '-'})}}" role="tabpanel">
                        <div class="row">
                            <div class="product_carousel product_column4 owl-carousel">
                            {% for product in category.products %}
                                <div class="col-lg-3">
                                    <div class="product_items">
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a class="primary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}"><img
                                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                    <a class="secondary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}"><img
                                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                    <div class="label_product">
                                                        <span class="label_sale">-50/=</span>
                                                    </div>
                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="wishlist"><a href="#"
                                                                    title="Add to Wishlist"><i
                                                                        class="icon-heart icons"></i></a></li>
                                                            <li class="compare"><a href="#" title="Add to Compare"><i
                                                                        class="icon-refresh icons"></i></a></li>
                                                            <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                                    data-bs-target="#modal_box{{product.id}}" title="quick view"> <i
                                                                        class="icon-magnifier-add icons"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <h4 class="product_name"><a href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}">{{product.name}} {{product.size}}</a></h4>
                                                    <div class="price_box">
                                                        <span class="old_price">Kes{{product.price + 50}}</span>
                                                        <span class="current_price">Kes {{product.price}}</span>
                                                    </div>
                                                    <div class="add_to_cart">
                                                        <a class="add_to_cart-{{product.id}}" href="javascript:void(0)">+ Add to cart</a>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </article>
                                    </div>
                                </div>                 
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--product area end-->

    {% for product in data.products %}
        <!-- modal area start-->
        <div class="modal fade" id="modal_box{{product.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" id="modal-content{{product.id}}">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="ion-android-close"></i></span>
                                    </button>
                                    <div class="modal_body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-5 col-sm-12">
                                                    <div class="modal_tab">
                                                        <div class="tab-content product-details-large">
                                                            <div class="tab-pane fade show active" id="tab0" role="tabpanel">
                                                                <div class="modal_tab_img">
                                                                    <a href="#"><img src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                                </div>
                                                            </div>
                                                            {% for g in product.galleries %}
                                                            <div class="tab-pane fade" id="tab{{loop.index}}" role="tabpanel">
                                                                <div class="modal_tab_img">
                                                                    <a href="#"><img src="{{asset('dist/assets/product/' ~ g.image )}}" alt=""></a>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal_tab_button">
                                                            <ul class="nav product_navactive owl-carousel" role="tablist">
                                                                <li>
                                                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab0" role="tab"
                                                                        aria-controls="tab0" aria-selected="false"><img
                                                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                                </li>
                                                                {% for g in product.galleries %}
                                                                <li>
                                                                    <a class="nav-link" data-bs-toggle="tab" href="#tab{{loop.index}}" role="tab"
                                                                        aria-controls="tab{{loop.index}}" aria-selected="false"><img
                                                                            src="{{asset('dist/assets/product/' ~ g.image )}}" alt=""></a>
                                                                </li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-12">
                                                    <div class="modal_right">
                                                        <div class="modal_title mb-10">
                                                            <h2>{{product.name}} {{product.size}}</h2>
                                                        </div>
                                                        <div class="modal_price mb-10">
                                                            <span class="new_price">Kes {{product.price + 50}}</span>
                                                            <span class="old_price">Kes {{product.price}}</span>
                                                        </div>
                                                        <div class="modal_description mb-15">
                                                            <p>{{product.description|raw}} </p>
                                                        </div>
                                                        <div class="variants_selects">
                                                            <div class="modal_add_to_cart">
                                                                <form id="form_prod_{{product.id}}">
                                                                    <input min="1" id="qty-{{product.id}}" max="100" step="1" value="1" type="number">
                                                                    <button id="add_to_cart-{{product.id}}" type="button">add to cart</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal_social">
                                                            <h2>Share this product</h2>
                                                            <ul>
                                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a>
                                                                </li>
                                                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
        <!-- modal area end-->
    {% endfor %}



