
    <!--shipping area start-->
    <div class="shipping_area" id="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="icon-call-out icons"></i>
                        </div>
                        <div class="shipping_content">
                            <h3><a href="tel:{{contact is not null ? contact.phone : 'No phone provided'}}">{{contact is not null ? contact.phone : 'No phone provided'}}</a></h3>
                            <p>/ Phone</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="icon-location-pin icons"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>{{contact is not null ? contact.email : 'No email provided'}}.</h3>
                            <p>/ Email</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col3">
                        <div class="shipping_icone">
                            <i class="icon-envelope icons"></i>
                        </div>
                        <div class="shipping_content">
                            <h3><a href="#">{{contact is not null ? contact.fullname : 'No names provided'}}</a></h3>
                            <p>/ Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shipping area end-->
