   <!--slider area start-->
    <section class="slider_section slider_s_three">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="{{asset(u_settings.main_slide_image_1_1920x1054 is defined ? u_settings.main_slide_image_1_1920x1054 : 'no_image_provided')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content slider_c_three">
                                <h2>{{u_settings.main_slide_top_text_1 is defined ? u_settings.main_slide_top_text_1 : 'No text provided'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'main_slide_top_text_1'})}}"><i class="fa fa-edit"></i></a>{% endif %}</h2>
                                <h1>{{u_settings.main_slide_title_1 is defined ? u_settings.main_slide_title_1 : 'No title provided'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'main_slide_title_1'})}}"><i class="fa fa-edit"></i></a>{% endif %}</h1>
                                <p>{{ u_settings.main_slide_text_1 is defined ? u_settings.main_slide_text_1 :
                                    'Placeholder text: Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laboruLorem ipsum dolor sit amet datat non proident'}}
                                    {% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'main_slide_text_1'})}}"><i class="fa fa-edit"></i></a>{% endif %}</p>
                                <a href="{{path('shop', {'category': 'all'}) }}">+ Shop Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.user and app.user.id == contact.id %}
                <button id="upload_slider-1" class="btn btn-sm btn-secondary float-end" style="margin-top:-32px; position:relative; z-index:10;" type="button">
                    <i class="fa fa-upload"></i>
                </button>
                {% endif %}
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="{{asset(u_settings.main_slide_image_2_1920x1054 is defined ? u_settings.main_slide_image_2_1920x1054 : 'no_image_provided')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content slider_c_three">
                                <h2>{{u_settings.main_slide_top_text_2 is defined ? u_settings.main_slide_top_text_2 : 'No text provided'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'main_slide_top_text_2'})}}"><i class="fa fa-edit"></i></a>{% endif %}</h2>
                                <h1>{{u_settings.main_slide_title_2 is defined ? u_settings.main_slide_title_2 : 'No title provided'}}{% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'main_slide_title_2'})}}"><i class="fa fa-edit"></i></a>{% endif %}</h1>
                                <p>{{ u_settings.main_slide_text_2 is defined ? u_settings.main_slide_text_2 :
                                    'Placeholder text: Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laboruLorem ipsum dolor sit amet datat non proident'}}
                                    {% if app.user and app.user.id == contact.id %}<a target="_blank" href="{{path('user_setting_new', {'description': 'main_slide_text_2'})}}"><i class="fa fa-edit"></i></a>{% endif %}
                                </p>
                                <a href="{{path('shop', {'category': 'all'}) }}">+ Shop Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.user and app.user.id == contact.id %}
                <button id="upload_slider-2" class="btn btn-sm btn-secondary float-end" style="margin-top:-32px; position:relative; z-index:10;" type="button">
                    <i class="fa fa-upload"></i>
                </button>
                {% endif %}
            </div>
        </div>
    </section>
    <!--slider area end-->