{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}



    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="simpleinput">Name</label>
        <div class="col-md-10">
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Category'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="simpleinput">Position</label>
        <div class="col-md-10">
            {{ form_widget(form.position, {'attr': {'class': 'form-control', 'placeholder': 'Position'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="simpleinput">Image</label>
        <div class="col-md-10">
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {% if category.id is not null %}
        <input type="hidden" name="old_file" value="{{category.image}}" >
    {% endif %}

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
