{% extends 'admin_base.html.twig' %}

{% block title %}Edit Category{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Edit Category</h4>
                <p class="sub-header">
                    Posts edited here will be publicly visible. You can edit categories again later after saving them.
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
