{% extends 'admin_base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="mt-0 header-title">Your categories</h4>
                <p class="text-muted font-14 mb-3">
                    A list of categories you've created.
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.position }}</td>
                            <td>
                                <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                                <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end row -->

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
