{% extends 'admin_base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">{{category.name}}</h4>
                <p class="sub-header">
                    View {{category.name}}
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ category.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ category.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Position</th>
                                        <td>{{ category.position }}</td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td><img src="{{asset('dist/assets/product/' ~ category.image) }}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a href="{{ path('category_index') }}">back to list</a> | 
    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a> | 

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
