{% extends 'base.html.twig' %}

{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} - Home{% endblock %}
{% block stylesheets %}

    <!-- Sweet Alert-->
    <link href="{{ asset('dist/assets/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block body %}

    {% include ('include/header.html.twig') %}

    {% include ('include/slider.html.twig') %}

    {% include ('include/categories.html.twig') %}

    {% include ('include/banner.html.twig') %}

    {% include ('include/products.html.twig') %}

    {% include ('include/banner2.html.twig') %}

    {% include ('include/products2.html.twig') %}

    {% include ('include/testimonial.html.twig') %}

    {% include ('include/blog.html.twig') %}

    {% include ('include/shipping.html.twig') %}

    {% include ('include/footer.html.twig') %}

{% endblock %}

{% block javascripts %}

    <!-- Sweet Alerts js -->
    <script src="{{ asset('dist/assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <!-- Sweet alert init js-->
    <script src="{{ asset('dist/assets/js/pages/sweet-alerts.init.js') }}"></script>
    <script>

        $('[id^="upload_"]').click(function() {
            
            var id = jQuery(this).attr("id").split("-")[1];
            var what = jQuery(this).attr("id").split("_")[1];

            Swal.fire({
                title: "Upload " + what + " Image",
                type: "info",
                html: '<form id="slider_' + id + '_image"> <div class="form-group"> <div class="form-group col-md-12"> <label for="slider_' + id + '" class="col-form-label">  ' + what + ' [JPG / PNG]</label><input type="file" name="slider_' + id + '" class="form-control" id="slider_' + id + '"> </div><input type="hidden" name="slider_id" value="' + id + '"></div><button type="button" class="btn btn-primary mt-5" id="submit_slider_' + id + '" class="btn btn-primary">Upload</button> </form>',
                showConfirmButton: false,
                showCloseButton: false,
                showCancelButton: !0,
                cancelButtonText: '<i class="mdi mdi-thumb-down-outline"></i> Cancel',
            });

        });

    </script>
    <script>
	  $(document).on('click', '[id^="submit_slider_"]', function(){

            var id = jQuery(this).attr("id").split("_")[2];
	  		var form = document.getElementById("slider_" + id + "_image");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/top/slide',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Image saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                location.reload(); 
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });

</script>    
{% endblock %}