{% extends 'base.html.twig' %}

{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} - Home{% endblock %}
{% block stylesheets %}

    <!-- Sweet Alert-->
    <link href="{{ asset('dist/assets/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block body %}

<button type="button" class="button button-primary-outline button-winona pay4Event_{{eventId}}" data-bs-toggle="modal" data-bs-target="#pay4EventModal">
     Pay For {{eventName}} Now
</button>
<!-- Modal -->
<div class="modal fade" id="pay4EventModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pay4EventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="height: fit-content!important;">
        <div class="modal-header">
          <h5 class="modal-title" id="pay4EventModalLabel">Pay For {{eventName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="eventPaymentForm">
          <div class="mb-3">
              <label for="phoneToChargeEvent" class="col-form-label">Safaricom Phone Number:</label>
              <input type="text" class="form-control" id="phoneToChargeEvent" name="phoneToChargeEvent" placeholder="0722xxxxxx" aria-describedby="phoneHelp">
              <div id="phoneHelp" class="form-text">The safaricom number to charge.</div>
          </div>
          <div class="mb-3">
              <label for="amountToPayEvent" class="col-form-label">Amount to pay:</label>
              <input type="text" class="form-control" id="amountToPayEvent" name="amountToPayEvent" placeholder="Amount to Pay" aria-describedby="amtHelp">
              <div id="amtHelp" class="form-text">The amount you're paying.</div>
          </div>
              <input type="hidden" name="request_id" id="request_id" value="nil" >     
          <button type="button" id="pay4Event_{{eventId}}" class="btn btn-primary">Pay Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}

    <!-- Sweet Alerts js -->
    <script src="{{ asset('dist/assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <!-- Sweet alert init js-->
    <script src="{{ asset('dist/assets/js/pages/sweet-alerts.init.js') }}"></script>
    <script>

        $('[id^="upload_"]').click(function() {
            
            var id = jQuery(this).attr("id").split("-")[1];
            var what = jQuery(this).attr("id").split("_")[1];

            Swal.fire({
                title: "Upload " + what + " Image",
                type: "info",
                html: '<form id="slider_' + id + '_image"> <div class="form-group"> <div class="form-group col-md-12"> <label for="slider_' + id + '" class="col-form-label">  ' + what + ' [JPG / PNG]</label><input type="file" name="slider_' + id + '" class="form-control" id="slider_' + id + '"> </div><input type="hidden" name="slider_id" value="' + id + '"></div><button type="button" class="btn btn-primary mt-5" id="submit_slider_' + id + '" class="btn btn-primary">Upload</button> </form>',
                showConfirmButton: false,
                showCloseButton: false,
                showCancelButton: !0,
                cancelButtonText: '<i class="mdi mdi-thumb-down-outline"></i> Cancel',
            });

        });

    </script>
    <script>
	  $(document).on('click', '[id^="submit_slider_"]', function(){

            var id = jQuery(this).attr("id").split("_")[2];
	  		var form = document.getElementById("slider_" + id + "_image");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/top/slide',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Image saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                location.reload(); 
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });

</script>  

<script>

    $(document).on('click', '[id^="pay4Event_"]', function(){
  
        var eventId = jQuery(this).attr("id").split("_")[1];
        var number = $("#phoneToChargeEvent").val();
        var amount = $("#amountToPayEvent").val();
        var eventName = "{{eventName}}";
  
        console.log("amount: " + amount);
        var userexists = $("#userexists").val();
        var reference;
        reference = "EVENT"+eventId;
  
        var description = "Payment for "+eventName;
        var form = document.getElementById("eventPaymentForm");
        var form_data = $( form ).serializeArray();
        var request_id = $("#request_id").val();
        // console.log(form_data);
        var valid = validateForm(form_data);
        console.log('valid: ' + valid);
        if(valid){
  
            $.ajax({
                url:"/make/online/payment/push",
                type: "POST",
                dataType: "json",
                data: {
                    "number": number,
                    "amount": amount,
                    "reference": reference,
                    "description": description,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    if(data.status == 'pending'){
                        $("#request_id").val(data.response);
                        // showSimpleAlert('Payment in process. Check Your Phone and enter your MPESA PIN then click "CLICK TO CONFIRM" below to validate', 20000);
                        $("#payNow").fadeOut(1000);
                        Swal.fire({
                            title: 'Payment In Process',
                            text: "Check your phone and enter your MPESA pin. Wait for confirmation message from M-Pesa then continue.",
                            icon: 'success',
                            showCancelButton: true,
                            allowOutsideClick: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'I have done that!'
                          }).then((result) => {
                            if (result.isConfirmed) {
                              
                                var request_id = $("#request_id").val();
                                
                                $.ajax({
                                    url:"/pmt/stk_push/check/status",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "request_id": request_id,
                                    },
                                    async: true,
                                    success: function (data)
                                    {
                                        console.log(data);
                                        if(data.status == 'success'){
                                            showSimpleAlert('Everything is ok. You have booked the event successfully.', 5000);
                                        } else {
                                          Swal.fire({
                                            title: 'Try again',
                                            text: "Wait for your confirmation message from M-Pesa and try agin!",
                                            icon: 'info',
                                            showCancelButton: true,
                                            allowOutsideClick: false,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'I have done that!'
                                          }).then((result) => {
                                            if (result.isConfirmed) {
                                                var form = document.getElementById("eventPaymentForm");
                                                var form_data = $( form ).serializeArray();
                                                var request_id = $("#request_id").val();
                                                // console.log(form_data);
                                                var valid = validateForm(form_data);
                                                console.log('valid: ' + valid);
                                                if(valid){
                                                
                                                    $.ajax({
                                                        url:"/pmt/stk_push/check/status",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: {
                                                            "request_id": request_id,
                                                        },
                                                        async: true,
                                                        success: function (data)
                                                        {
                                                            console.log(data);
                                                            if(data.status == 'success'){
                                                                showSimpleAlert('Everything is ok. You have booked the event successfully.', 5000);
                                                            } else {
                                                              
                                                            }
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log(error);
                                                            showSimpleAlert(error, 5000, 'info');
                                                        }
                                                    });
                                                
                                                } else {
                                                    console.log('failed');
                                                    showSimpleAlert('Payment failed. Please check your balance.', 5000)
                                                  
                                                }
                                                
                                            }
                                          })                
  
  
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.log(error);
                                        showSimpleAlert(error, 5000, 'info');
                                    }
                                });
                                
                                
                            }
                          })                
                    } else {
                        showSimpleAlert('Failed. Something is not right. Check your phone number again.', 5000, 'info')
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    showSimpleAlert(error, 5000, 'info');
                }
            });
  
          } else {
  
              showSimpleAlert('Please fill in all the required fields.', 5000, 'info');
  
          }
  
    
    
    })
    
</script>
{% endblock %}



