{% extends 'base.html.twig' %}

{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} - Home{% endblock %}
{% block stylesheets %}

    <!-- Sweet Alert-->
    <link href="{{ asset('dist/assets/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block body %}

    {% include ('include/header_pg.html.twig') %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li> Shop </li>
                            <li> {{data.category}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--shop  area start-->
    <div class="shop_area shop_reverse mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            {# <div class="widget_list widget_categories">
                                <h3>Women</h3>
                                <ul>
                                    <li class="widget_sub_categories sub_categories1"><a
                                            href="javascript:void(0)">Shoes</a>
                                        <ul class="widget_dropdown_categories dropdown_categories1">
                                            <li><a href="#">Document</a></li>
                                            <li><a href="#">Dropcap</a></li>
                                            <li><a href="#">Dummy Image</a></li>
                                            <li><a href="#">Dummy Text</a></li>
                                            <li><a href="#">Fancy Text</a></li>
                                        </ul>
                                    </li>
                                    <li class="widget_sub_categories sub_categories2"><a
                                            href="javascript:void(0)">Bags</a>
                                        <ul class="widget_dropdown_categories dropdown_categories2">
                                            <li><a href="#">Flickr</a></li>
                                            <li><a href="#">Flip Box</a></li>
                                            <li><a href="#">Cocktail</a></li>
                                            <li><a href="#">Frame</a></li>
                                            <li><a href="#">Flickrq</a></li>
                                        </ul>
                                    </li>
                                    <li class="widget_sub_categories sub_categories3"><a
                                            href="javascript:void(0)">Clothing</a>
                                        <ul class="widget_dropdown_categories dropdown_categories3">
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Storage Beds</a></li>
                                            <li><a href="#">Regular Beds</a></li>
                                            <li><a href="#">Sleigh Beds</a></li>
                                            <li><a href="#">Laundry</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> #}
                            {# <div class="widget_list widget_filter">
                                <h3>Filter by price</h3>
                                <form action="#">
                                    <div id="slider-range"></div>
                                    <button type="submit">Filter</button>
                                    <input type="text" name="text" id="amount" />
                                </form>
                            </div> #}
                            <div class="widget_list widget_color">
                                <h3>Select By Category</h3>
                                <ul>
                                    {% for category in data.categories %}
                                    <li>
                                        <a href="{{path('shop', {'category': category.id, 'c': category.name}) }}">{{category.name}} <span>({{category.products|length}})</span></a>
                                    </li>   
                                    {% endfor %}
                                </ul>
                            </div>
                            {# <div class="widget_list widget_color">
                                <h3>Select By SIze</h3>
                                <ul>
                                    <li>
                                        <a href="#">S <span>(6)</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> M <span>(8)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">L <span>(10)</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> XL <span>(6)</span></a>
                                    </li>

                                </ul>
                            </div> #}
                            {# <div class="widget_list widget_manu">
                                <h3>Manufacturer</h3>
                                <ul>
                                    <li>
                                        <a href="#">Brake Parts <span>(6)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Accessories <span>(10)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Engine Parts <span>(4)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">hermes <span>(10)</span></a>
                                    </li>

                                </ul>
                            </div> #}
                            {# <div class="widget_list tags_widget">
                                <h3>Product tags</h3>
                                <div class="tag_cloud">
                                    <a href="#">Men</a>
                                    <a href="#">Women</a>
                                    <a href="#">Watches</a>
                                    <a href="#">Bags</a>
                                    <a href="#">Dress</a>
                                </div>
                            </div> #}
                            <div class="widget_list widget_banner">
                                <a href="#"><img src="assets/img/bg/banner17.jpg" alt=""></a>
                            </div>
                            <div class="small_product_area widget_sid_product">
                                <div class="section_title">
                                    <h2>Trending</h2>
                                </div>
                                {% set img = data.featuredProduct is not null ? data.featuredProduct.image %}
                                <div class="small_product_container product_column1 owl-carousel">
                                    <div class="product_items">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a class="primary_img" href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}"><img
                                                        src="{{asset('dist/assets/product/' ~ img )}}" alt=""></a>
                                                <a class="secondary_img" href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}"><img
                                                        src="{{asset('dist/assets/product/' ~ img )}}" alt=""></a>
                                            </div>
                                            <div class="product_content">
                                                <h4 class="product_name"><a href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}">{{data.featuredProduct.name}} {{data.featuredProduct.size}}</a></h4>
                                                <div class="price_box">
                                                    <span class="old_price">Kes {{data.featuredProduct.price + 50}}</span>
                                                    <span class="current_price">Kes {{data.featuredProduct.price}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="product_items">

                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a class="primary_img" href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}"><img
                                                        src="{{asset('dist/assets/product/' ~ img )}}" alt=""></a>
                                                <a class="secondary_img" href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}"><img
                                                        src="{{asset('dist/assets/product/' ~ img )}}" alt=""></a>
                                            </div>
                                            <div class="product_content">
                                                <h4 class="product_name"><a href="{{path('product_show', {'id': data.featuredProduct.id, 'product_name': data.featuredProduct.name ~ '-' ~ data.featuredProduct.size}) }}">{{data.featuredProduct.name}} {{data.featuredProduct.size}}</a></h4>
                                                <div class="price_box">
                                                    <span class="old_price">Kes {{data.featuredProduct.price + 50}}</span>
                                                    <span class="current_price">Kes {{data.featuredProduct.price}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->

                    <div class="shop_banner_area">
                        <img src="{{asset(u_settings.shop_main_banner_1050x486 is defined ? u_settings.shop_main_banner_1050x486 : 'bonique/assets/img/bg/banner16.jpg')}}" alt="">
                        {% if app.user and app.user.id == contact.id %}
                        <button id="upload_banner-21" class="btn btn-sm btn-secondary float-end" style="margin-top:-32px; position:relative; z-index:10;" type="button">
                            <i class="fa fa-upload"></i>
                        </button>
                        {% endif %}                                         
                    </div>

                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">

                            <button data-role="grid_3" type="button" class="active btn-grid-3" data-bs-toggle="tooltip"
                                title="3"></button>

                            <button data-role="grid_4" type="button" class=" btn-grid-4" data-bs-toggle="tooltip"
                                title="4"></button>

                            <button data-role="grid_list" type="button" class="btn-list" data-bs-toggle="tooltip"
                                title="List"></button>
                        </div>
                        <div class=" niceselect_option">
                            <form class="select_option" action="#">
                                <select name="orderby" id="short">

                                    <option selected value="1">Sort by average rating</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="3">Sort by newness</option>
                                    <option value="4">Sort by price: low to high</option>
                                    <option value="5">Sort by price: high to low</option>
                                    <option value="6">Product Name: Z</option>
                                </select>
                            </form>
                        </div>
                        <div class="page_amount">
                            <p>Showing all results</p>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <div class="row shop_wrapper">
                        {% for product in data.products %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}"><img
                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                    <a class="secondary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}"><img
                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-50/=</span>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="wishlist"><a href="#" title="Add to Wishlist"><i
                                                        class="icon-heart icons"></i></a></li>
                                            <li class="compare"><a href="#" title="Add to Compare"><i
                                                        class="icon-refresh icons"></i></a></li>
                                            <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#modal_box{{product.id}}" title="quick view"> <i
                                                        class="icon-magnifier-add icons"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_content grid_content">
                                    <h4 class="product_name"><a href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}">{{product.name}} {{product.size}}</a></h4>
                                    <div class="price_box">
                                        <span class="old_price">Kes {{product.price + 50}}</span>
                                        <span class="current_price">Kes {{product.price}}</span>
                                    </div>
                                    <div class="add_to_cart">
                                        <a class="add_to_cart-{{product.id}}" href="javascript:void(0)">+ Add to cart</a>
                                    </div>
                                </div>
                                <div class="product_content list_content">
                                    <h4 class="product_name"><a href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}">{{product.name}} {{product.size}}</a></h4>
                                    <div class="price_box">
                                        <span class="old_price">Kes {{product.price + 50}}</span>
                                        <span class="current_price">Kes {{product.price}}</span>
                                    </div>
                                    <div class="product_desc">
                                        <p>{{product.description|raw}}</p>
                                    </div>
                                    <div class="list_action_wrapper">
                                        <div class="list_cart_btn">
                                            <a class="add_to_cart-{{product.id}}" href="javascript:void(0)">+ Add to cart</a>
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="wishlist"><a href="#" title="Add to Wishlist"><i
                                                            class="icon-heart icons"></i></a></li>
                                                <li class="compare"><a href="#" title="Add to Compare"><i
                                                            class="icon-refresh icons"></i></a></li>
                                                <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#modal_box{{product.id}}" title="quick view"> <i
                                                            class="icon-magnifier-add icons"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- modal area start-->
                        <div class="modal fade" id="modal_box{{product.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" id="modal-content{{product.id}}">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="ion-android-close"></i></span>
                                    </button>
                                    <div class="modal_body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-5 col-sm-12">
                                                    <div class="modal_tab">
                                                        <div class="tab-content product-details-large">
                                                            <div class="tab-pane fade show active" id="tab0" role="tabpanel">
                                                                <div class="modal_tab_img">
                                                                    <a href="#"><img src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                                </div>
                                                            </div>
                                                            {% for g in product.galleries %}
                                                            <div class="tab-pane fade" id="tab{{loop.index}}" role="tabpanel">
                                                                <div class="modal_tab_img">
                                                                    <a href="#"><img src="{{asset('dist/assets/product/' ~ g.image )}}" alt=""></a>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal_tab_button">
                                                            <ul class="nav product_navactive owl-carousel" role="tablist">
                                                                <li>
                                                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab0" role="tab"
                                                                        aria-controls="tab0" aria-selected="false"><img
                                                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                                </li>
                                                                {% for g in product.galleries %}
                                                                <li>
                                                                    <a class="nav-link" data-bs-toggle="tab" href="#tab{{loop.index}}" role="tab"
                                                                        aria-controls="tab{{loop.index}}" aria-selected="false"><img
                                                                            src="{{asset('dist/assets/product/' ~ g.image )}}" alt=""></a>
                                                                </li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-12">
                                                    <div class="modal_right">
                                                        <div class="modal_title mb-10">
                                                            <h2>{{product.name}} {{product.size}}</h2>
                                                        </div>
                                                        <div class="modal_price mb-10">
                                                            <span class="new_price">Kes {{product.price + 50}}</span>
                                                            <span class="old_price">Kes {{product.price}}</span>
                                                        </div>
                                                        <div class="modal_description mb-15">
                                                            <p>{{product.description|raw}} </p>
                                                        </div>
                                                        <div class="variants_selects">
                                                            <div class="modal_add_to_cart">
                                                                <form id="form_prod_{{product.id}}">
                                                                    <input min="1" id="qty-{{product.id}}" max="100" step="1" value="1" type="number">
                                                                    <button id="add_to_cart-{{product.id}}" type="button">add to cart</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal_social">
                                                            <h2>Share this product</h2>
                                                            <ul>
                                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a>
                                                                </li>
                                                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal area end-->

                        {% endfor %}
                    </div>
                    {# <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                <li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">next</a></li>
                                <li><a href="#">>></a></li>
                            </ul>
                        </div>
                    </div> #}
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->

    {% include ('include/footer.html.twig') %}


{% endblock %}

{% block javascripts %}

    <!-- Sweet Alerts js -->
    <script src="{{ asset('dist/assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>
    <script src="{{asset('dist/assets/js/bootstrap-notify.min.js')}}"></script>        

    <!-- Sweet alert init js-->
    <script src="{{ asset('dist/assets/js/pages/sweet-alerts.init.js') }}"></script>
    <script>

        $('[id^="upload_"]').click(function() {
            
            var id = jQuery(this).attr("id").split("-")[1];
            var what = jQuery(this).attr("id").split("_")[1];

            Swal.fire({
                title: "Upload " + what + " Image",
                type: "info",
                html: '<form id="slider_' + id + '_image"> <div class="form-group"> <div class="form-group col-md-12"> <label for="slider_' + id + '" class="col-form-label">  ' + what + ' [JPG / PNG]</label><input type="file" name="slider_' + id + '" class="form-control" id="slider_' + id + '"> </div><input type="hidden" name="slider_id" value="' + id + '"></div><button type="button" class="btn btn-primary mt-5" id="submit_slider_' + id + '" class="btn btn-primary">Upload</button> </form>',
                showConfirmButton: false,
                showCloseButton: false,
                showCancelButton: !0,
                cancelButtonText: '<i class="mdi mdi-thumb-down-outline"></i> Cancel',
            });

        });

    </script>
    <script>
	  $(document).on('click', '[id^="submit_slider_"]', function(){

            var id = jQuery(this).attr("id").split("_")[2];
	  		var form = document.getElementById("slider_" + id + "_image");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/top/slide',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Information saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                location.reload(); 
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });

</script>    

{% endblock %}