<!DOCTYPE html>
<html>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}

function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}
</script>

</body>
</html>

{#
** response from fulfillment request
{
    "message": "Fulfilment request created successfully on sales channel",
    "data": {
        "fulfilment_requests": [
            {
                "channel_grouping_id": "",
                "channel_reference_id": "",
                "fulfilment_request_id": "FR-ICUP-3450"
            }
        ]
    }
}
FR-JFTJ-3225
FR-LDWQ-2702
** response from cancel request
{
    "message": "Order cancelled successfully on sales channel",
    "data": {
        "fulfilment_request": {
            "fulfilment_request_id": "FR-JFTJ-3225",
            "sales_channel_id": "SC-QIRK-2758",
            "created_date": 1669625817000,
            "updated_date": 1669626467125,
            "fulfilment_request_type": "DEFERRED",
            "products": [
                {
                    "product_id": "P-KAE-2169",
                    "product_variant_id": "PV-VMH-2767",
                    "product_variant_image_link": "https://s3.eu-west-1.amazonaws.com/sendy-partner-docs/fulfillment_products/B-PGA-8166_1644329991388_image_picker_DA04C777-6657-464E-B1D8-33E4BF411FB3-3961-000000E8B23E9D76.jpg",
                    "product_name": null,
                    "product_variant_description": "Relaxing Massage Oil small",
                    "product_variant_quantity": null,
                    "product_variant_quantity_type": null,
                    "line_item_id": "VLI-NMRT-8412",
                    "quantity": 5,
                    "rejected_quantity": null,
                    "received_quantity": null,
                    "unit_price": 1000,
                    "currency": "KES"
                },
                {
                    "product_id": "P-KAE-2169",
                    "product_variant_id": "PV-YQC-1443",
                    "product_variant_image_link": "https://s3.eu-west-1.amazonaws.com/sendy-partner-docs/fulfillment_products/B-PGA-8166_1644330506738_image_picker_D47C8F33-FC61-4E28-91D3-A2615125B4BD-3961-000000EB93798666.jpg",
                    "product_name": null,
                    "product_variant_description": "Relaxing Massage Oil large",
                    "product_variant_quantity": null,
                    "product_variant_quantity_type": null,
                    "line_item_id": "VLI-EVMY-2267",
                    "quantity": 5,
                    "rejected_quantity": null,
                    "received_quantity": null,
                    "unit_price": 2000,
                    "currency": "KES"
                }
            ],
            "fulfilment_request_status": "REQUEST_CANCELED",
            "destination": {
                "name": "Milcah Mueni",
                "phone_number": "+254705285959",
                "secondary_phone_number": null,
                "delivery_location": {
                    "description": "Kiamumbi, Kiambu, Kenya",
                    "longitude": -1.3592272,
                    "latitude": 36.9379845,
                    "zone_name": null,
                    "zone_id": null
                },
                "house_location": "22, Uganda Street",
                "delivery_instructions": "No notes"
            },
            "channel_grouping_id": "",
            "channel_reference_id": "",
            "handshake_policy": "ON_PARTNER_ARRIVAL",
            "delegated_means_of_payment_collection": [],
            "fulfilment_cost_means_of_payment": {
                "means_of_payment_type": "MPESA",
                "means_of_payment_id": " ",
                "participant_type": "SELLER",
                "participant_id": "B-PGA-8166",
                "meta_data": {}
            },
            "sale_of_goods_means_of_payment": null,
            "sale_of_goods_means_of_remuneration": null,
            "delivery_order": null,
            "held_entries_count": 0,
            "to_request_entries_count": 0
        }
    }
}
** response from product details
{
    "message": "Product details fetched successfully",
    "data": {
        "product_id": "P-KAE-2169",
        "objectID": "P-KAE-2169",
        "product_name": "Relaxing Massage Oil ",
        "product_description": "relaxing massage oil",
        "product_main_color": null,
        "product_archived": false,
        "business_id": "B-PGA-8166",
        "product_collection": {
            "collection_id": "PC-EMO-6194",
            "collection_name": null
        },
        "sales_channel_collections": null,
        "product_variants": [
            {
                "product_variant_id": "PV-VMH-2767",
                "business_id": "B-PGA-8166",
                "product_id": "P-KAE-2169",
                "product_variant_description": "Relaxing Massage Oil small",
                "product_variant_currency": "KES",
                "product_variant_unit_price": 1000,
                "product_variant_image_link": "https://s3.eu-west-1.amazonaws.com/sendy-partner-docs/fulfillment_products/B-PGA-8166_1644329991388_image_picker_DA04C777-6657-464E-B1D8-33E4BF411FB3-3961-000000E8B23E9D76.jpg",
                "product_variant_expiry_date": null,
                "product_variant_quantity": 120,
                "product_variant_quantity_type": "MILLILITRE",
                "product_variant_stock_levels": {
                    "available": 2,
                    "quantity_in_inventory": 2,
                    "quantity_in_sales_orders": 0,
                    "quantity_held_in_fulfilment_requests": 0,
                    "last_updated_date": 1669628832000
                },
                "product_variant_archived": false
            },
            {
                "product_variant_id": "PV-YQC-1443",
                "business_id": "B-PGA-8166",
                "product_id": "P-KAE-2169",
                "product_variant_description": "Relaxing Massage Oil large",
                "product_variant_currency": "KES",
                "product_variant_unit_price": 2000,
                "product_variant_image_link": "https://s3.eu-west-1.amazonaws.com/sendy-partner-docs/fulfillment_products/B-PGA-8166_1644330506738_image_picker_D47C8F33-FC61-4E28-91D3-A2615125B4BD-3961-000000EB93798666.jpg",
                "product_variant_expiry_date": null,
                "product_variant_quantity": 250,
                "product_variant_quantity_type": "MILLILITRE",
                "product_variant_stock_levels": {
                    "available": 2,
                    "quantity_in_inventory": 2,
                    "quantity_in_sales_orders": 0,
                    "quantity_held_in_fulfilment_requests": 0,
                    "last_updated_date": 1669628832000
                },
                "product_variant_archived": false
            }
        ]
    }
}
#}
                                            {# <select id="same-day-choose" class="form-control">`
                                                <option value="0" selected>Select a place you'd like us to deliver </option>
                                                <option value="250-Hurl" >Hurlingam / kilimani - 250 </option>
                                                <option value="250-Junc" >Junction mall - 250 </option>
                                                <option value="250-Keny" >Kenyatta mkt - 250 </option>
                                                <option value="250-Lavi" >Lavington mall - 250 </option>
                                                <option value="250-Liko" >Likoni Road - 250 </option>
                                                <option value="250-Lion" >Lions place - 250 </option>
                                                <option value="250-Muth" >Muthithi rd - 250 </option>
                                                <option value="250-Nair" >Nairobi west - 250 </option>
                                                <option value="250-Pres" >Prestige plaza - 250 </option>
                                                <option value="250-Safa" >Safari park - 250 </option>
                                                <option value="250-Sari" >Sarit centre - 250 </option>
                                                <option value="250-Spri" >Spring valley - 250 </option>
                                                <option value="250-T.ma" >T.mall - 250 </option>
                                                <option value="250-Vall" >Valley Arcade - 250 </option>
                                                <option value="250-Vill" >Village market - 250 </option>
                                                <option value="250-Sout" >South B - 250 </option>
                                                <option value="250-Next" >Nextgen - 250 </option>
                                                <option value="250-GEN." >GEN. Mathenge - 250 </option>
                                                <option value="250-INDU" >INDUSTRIAL-AREA - 250 </option>
                                                <option value="250-ABC" >ABC - 250 </option>
                                                <option value="250-Adam" >Adams-Arcade - 250 </option>
                                                <option value="250-Airt" >Airtel - 250 </option>
                                                <option value="250-Alls" >Allsops - 250 </option>
                                                <option value="250-Baba" >Babadogo - 250 </option>
                                                <option value="250-Baha" >Bahati - 250 </option>
                                                <option value="250-Bara" >Baraka - 250 </option>
                                                <option value="250-Barc" >Barclays-HQ - 250 </option>
                                                <option value="250-Buru" >Buruburu - 250 </option>
                                                <option value="250-C.I." >C.I.D - 250 </option>
                                                <option value="250-Capi" >Capital centre - 250 </option>
                                                <option value="250-Copt" >Coptic-Hosp - 250 </option>
                                                <option value="250-DCI" >DCI - 250 </option>
                                                <option value="250-Delo" >Deloitte - 250 </option>
                                                <option value="250-East" >Eastleigh - 250 </option>
                                                <option value="250-Elda" >Eldama-Ravine - 250 </option>
                                                <option value="250-G.M" >G.M - 250 </option>
                                                <option value="250-G.S." >G.S.U - 250 </option>
                                                <option value="250-Giko" >Gikomba - 250 </option>
                                                <option value="250-Hamz" >Hamza - 250 </option>
                                                <option value="250-High" >Highrise - 250 </option>
                                                <option value="150-AgaK" >AgaKhan - 150 </option>
                                                <option value="150-Delt" >Delta corner - 150 </option>
                                                <option value="150-Denn" >Dennispritt - 150 </option>
                                                <option value="150-Fore" >Forest rd - 150 </option>
                                                <option value="150-Nair" >Nairobi hosp - 150 </option>
                                                <option value="150-MP_s" >MP shah - 150 </option>
                                                <option value="150-Mpak" >Mpaka road - 150 </option>
                                                <option value="150-Ngar" >Ngara area - 150 </option>
                                                <option value="150-Nyay" >Nyayo stadium - 150 </option>
                                                <option value="150-Ojij" >Ojijo rd - 150 </option>
                                                <option value="150-Raph" >Raphta Road - 150 </option>
                                                <option value="150-Shau" >Shaurimoyo - 150 </option>
                                                <option value="150-Vall" >Valley Road - 150 </option>
                                                <option value="150-Uppe" >Upper hill - 150 </option>
                                                <option value="150-Stat" >State house - 150 </option>
                                                <option value="150-Park" >Parklands - 150 </option>
                                                <option value="150-Broo" >Brookside - 150 </option>
                                                <option value="150-Buny" >Bunyala - 150 </option>
                                                <option value="150-Chir" >Chiromo - 150 </option>
                                                <option value="150-City" >Citystadium - 150 </option>
                                                <option value="150-Desa" >Desai\KIE - 150 </option>
                                                <option value="150-DT-d" >DT-dobie - 150 </option>
                                                <option value="150-Fig-" >Fig-tree - 150 </option>
                                                <option value="150-High" >Highridge - 150 </option>
                                                <option value="150-K.N." >K.N.H - 150 </option>
                                                <option value="150-Kamk" >Kamkunji - 150 </option>
                                                <option value="150-Kari" >Kariokor - 150 </option>
                                                <option value="150-Maka" >Makadara - 150 </option>
                                                <option value="150-Mako" >Makongeni - 150 </option>
                                                <option value="150-Maml" >Mamlaka - 150 </option>
                                                <option value="150-Mbot" >Mbotela - 150 </option>
                                                <option value="150-Muth" >Muthaiga - 150 </option>
                                                <option value="150-Oshw" >Oshwal - 150 </option>
                                                <option value="150-Sere" >Serena - 150 </option>
                                                <option value="150-West" >Westgate - 150 </option>
                                                <option value="200-Wood" >Woodley-Jamuhuri - 200 </option>
                                                <option value="250-esta" >estate - 250 </option>
                                                <option value="250-Donh" >Donholm stage - 250 </option>
                                                <option value="250-Ente" >Enterprise-likonird - 250 </option>
                                                <option value="250-Gard" >Garden city - 250 </option>
                                                <option value="250-GK_P" >GK Prison - 250 </option>
                                                <option value="250-Jeri" >Jericho - 250 </option>
                                                <option value="250-K.C." >K.C.A - 250 </option>
                                                <option value="250-Kang" >Kangemi - 250 </option>
                                                <option value="250-Kibr" >Kibra - 250 </option>
                                                <option value="250-Kile" >Kileleshwa - 250 </option>
                                                <option value="250-Kili" >Kilimani - 250 </option>
                                                <option value="250-Mada" >Madaraka - 250 </option>
                                                <option value="250-Mbag" >Mbagathi - 250 </option>
                                                <option value="250-N.Y." >N.Y.S - 250 </option>
                                                <option value="250-Oles" >Olesereni - 250 </option>
                                                <option value="250-Pana" >Panari - 250 </option>
                                                <option value="250-Pang" >Pangani - 250 </option>
                                                <option value="250-Pumw" >Pumwani - 250 </option>
                                                <option value="250-Riar" >Riara\Strathmore - 250 </option>
                                                <option value="250-Ridg" >Ridgeways - 250 </option>
                                                <option value="250-Roas" >Roaster - 250 </option>
                                                <option value="250-TRM" >TRM - 250 </option>
                                                <option value="250-UNEP" >UNEP\Gigiri - 250 </option>
                                                <option value="250-Utal" >Utalii - 250 </option>
                                                <option value="250-Wils" >Wilson - 250 </option>
                                                <option value="300-Balo" >Balozi est - 300 </option>
                                                <option value="300-Hath" >Hatheru rd - 300 </option>
                                                <option value="300-Lowe" >Lower-kabete(UON) - 300 </option>
                                                <option value="300-Akil" >Akila - 300 </option>
                                                <option value="300-Huru" >Huruma - 300 </option>
                                                <option value="300-Lang" >Langata - 300 </option>
                                                <option value="300-Lavi" >Lavington - 300 </option>
                                                <option value="300-USIU" >USIU\Thome - 300 </option>
                                                <option value="350-Driv" >Drive inn - 350 </option>
                                                <option value="350-Gard" >Garden Estate - 350 </option>
                                                <option value="350-Gate" >Gatewaymall - 350 </option>
                                                <option value="350-Gith" >Githurai44\45 - 350 </option>
                                                <option value="350-Imar" >Imara Daima - 350 </option>
                                                <option value="350-Kabe" >Kabete gardens - 350 </option>
                                                <option value="350-Kaha" >Kahawa Area - 350 </option>
                                                <option value="350-LA(R" >LA(Rubia,Onyoka) - 350 </option>
                                                <option value="350-Lowe" >Lower kabete - 350 </option>
                                                <option value="350-Luck" >Lucky summer - 350 </option>
                                                <option value="350-Moun" >Mountain mall - 350 </option>
                                                <option value="350-Nyay" >Nyayo estate - 350 </option>
                                                <option value="350-Pion" >Pioneer Estate - 350 </option>
                                                <option value="350-Sout" >South field mall - 350 </option>
                                                <option value="350-Thig" >Thigiri Ridge - 350 </option>
                                                <option value="350-Two" >Two Rivers - 350 </option>
                                                <option value="350-U.O." >U.O.N Kabete - 350 </option>
                                                <option value="350-Uhur" >Uhuru estate - 350 </option>
                                                <option value="350-Umo" >Umoja 1,2,3 - 350 </option>
                                                <option value="350-Ngon" >Ngong Race course - 350 </option>
                                                <option value="350-Boma" >Bomas/Galleria - 350 </option>
                                                <option value="350-Caba" >Cabanas - 350 </option>
                                                <option value="350-Cani" >Canivore - 350 </option>
                                                <option value="350-Dago" >Dagoreti-corner - 350 </option>
                                                <option value="350-Emba" >Embakasi - 350 </option>
                                                <option value="350-Fedh" >Fedha - 350 </option>
                                                <option value="350-Four" >Fourways - 350 </option>
                                                <option value="350-Gall" >Galleria - 350 </option>
                                                <option value="350-Kaha" >Kahawa.sukari.wendani.west - 350 </option>
                                                <option value="350-Kari" >Kariobangi - 350 </option>
                                                <option value="350-Kasa" >Kasarani - 350 </option>
                                                <option value="350-Kawa" >Kawangware - 350 </option>
                                                <option value="350-Kitu" >Kitusuru - 350 </option>
                                                <option value="350-LA(W" >LA(Womens prison) - 350 </option>
                                                <option value="350-Lena" >Lenana - 350 </option>
                                                <option value="350-Liko" >Likoni-lungalunga - 350 </option>
                                                <option value="350-Lore" >Loresho - 350 </option>
                                                <option value="350-Lumu" >Lumumba - 350 </option>
                                                <option value="350-Mire" >Mirema\Zimmerman - 350 </option>
                                                <option value="350-Mtin" >Mtindwa - 350 </option>
                                                <option value="350-Obam" >Obama - 350 </option>
                                                <option value="350-Orph" >Orphanage - 350 </option>
                                                <option value="350-Pipe" >Pipeline - 350 </option>
                                                <option value="350-Ruak" >Ruaka - 350 </option>
                                                <option value="350-Rund" >Runda - 350 </option>
                                                <option value="350-S.G." >S.G.R - 350 </option>
                                                <option value="350-Saik" >Saika - 350 </option>
                                                <option value="350-Same" >Sameer - 350 </option>
                                                <option value="350-Show" >Showground - 350 </option>
                                                <option value="350-Tasi" >Tasia - 350 </option>
                                                <option value="350-Tena" >Tena - 350 </option>
                                                <option value="350-Uthi" >Uthiru - 350 </option>
                                                <option value="350-Wany" >Wanye - 350 </option>
                                                <option value="400-Maji" >Maji mazuri - 400 </option>
                                                <option value="400-Eden" >Eden ville - 400 </option>
                                                <option value="400-Kiri" >Kiringiti - 400 </option>
                                                <option value="400-Miha" >Mihango - 400 </option>
                                                <option value="450-Kami" >Kamitiroad - 450 </option>
                                                <option value="450-Keny" >KenyattaRoad - 450 </option>
                                                <option value="450-K.U" >K.U - 450 </option>
                                                <option value="450-Kare" >Karen - 450 </option>
                                                <option value="450-Kayo" >Kayole - 450 </option>
                                                <option value="450-Kino" >Kinoo - 450 </option>
                                                <option value="450-Koma" >Komarock - 450 </option>
                                                <option value="450-Mlol" >Mlolongo - 450 </option>
                                                <option value="450-Much" >Muchatha - 450 </option>
                                                <option value="450-Mwik" >Mwiki - 450 </option>
                                                <option value="450-Nden" >Ndenderu - 450 </option>
                                                <option value="250-Riar" >Riara\Makini - 250 </option>
                                                <option value="450-Ruai" >Ruai - 450 </option>
                                                <option value="450-Syok" >Syokimau - 450 </option>
                                                <option value="450-Thin" >Thindigua - 450 </option>
                                                <option value="450-Utaw" >Utawala - 450 </option>
                                                <option value="500-Airp" >Airport-North Road - 500 </option>
                                                <option value="500-Kiam" >Kiambutown - 500 </option>
                                                <option value="500-Onga" >Ongata Rongai - 500 </option>
                                                <option value="500-Kiku" >Kikuyu - 500 </option>
                                                <option value="500-Njir" >Njiru - 500 </option>
                                                <option value="550-Clay" >Clayworks - 550 </option>
                                                <option value="550-JKIA" >JKIA - 550 </option>
                                                <option value="550-Ruir" >Ruiru - 550 </option>
                                                <option value="600-JKUA" >JKUAT - 600 </option>
                                                <option value="600-Juja" >Juja - 600 </option>
                                                <option value="700-Athi" >AthiRiver - 700 </option>
                                                <option value="700-Kamu" >Kamulu - 700 </option>
                                                <option value="700-Kite" >Kitengela - 700 </option>
                                                <option value="700-Ngon" >Ngong - 700 </option>
                                                <option value="700-Thik" >Thikatown - 700 </option>
                                                <option value="700-Limu" >Limuru town - 700 </option>        
                                            </select> #}
