{% extends 'admin_base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    .image_area {
        position: relative;
    }

    .img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg{
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;
        cursor: pointer;
    }

    .text {
        color: #333;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
</style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <div class="bg-picture card-box">
                <div class="profile-info-name">
                    <div class="image_area text-center float-left">
                        <form method="post" class="avatar-xl img-thumbnail mr-3">
                            <label for="upload_image">
                                <img class="img" src="{{ app.user.photo is not null ? app.user.photo : asset('dist/assets/profile/person.png') }}" id="uploaded_image" class="img-responsive img-circle rounded-circle" />
                                <div class="overlay">
                                    <div class="text">Change Image</div>
                                </div>
                                <input type="file" name="image" class="image" id="upload_image" style="display:none" />
                            </label>
                        </form>
                    </div>
                    <div class="profile-info-detail overflow-hidden">
                        <h4 class="m-0">{{admin.fname}} {{admin.lname}}</h4>
                        <p class="text-muted"><i>{{admin.email}}</i></p>

                        <p class="font-13">{{admin.about|length > 5 ? admin.about : 'nothing about you.'}}</p>

                        <ul class="social-list list-inline mt-3 mb-0">
                            <li class="list-inline-item">
                                <a href="{{admin.facebook|length > 5 ? admin.facebook : '#'}}" class="social-list-item border-purple text-purple"><i
                                        class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{admin.linkedin|length > 5 ? admin.linkedin : '#'}}" class="social-list-item border-danger text-danger"><i
                                        class="mdi mdi-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{admin.twitter|length > 5 ? admin.twitter : '#'}}" class="social-list-item border-info text-info"><i
                                        class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{admin.instagram|length > 5 ? admin.instagram : '#'}}" class="social-list-item border-secondary text-secondary"><i
                                        class="mdi mdi-instagram"></i></a>
                            </li>
                        </ul>
                                
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--/ meta -->

            <!-- Form row -->
            <div class="card-box">
                <div class="col-md-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Bio Settings</h4>

                        <form id="savebio">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fname" class="col-form-label">First Name</label>
                                    <input class="form-control" id="fname" type="text" placeholder="First Name" name="fname" value="{{admin.fname}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lname" class="col-form-label">Last Name</label>
                                    <input class="form-control" id="lname" type="text" placeholder="Last Name" name="lname" value="{{admin.lname}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputAddress" class="col-form-label">Phone Number</label>
                                    <input class="form-control" type="text" placeholder="Phone number" id="phone" name="phone" value="{{admin.phone}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email" class="col-form-label">Email Address</label>
                                    <input class="form-control" id="email" type="email" placeholder="user@example.com" name="email" value="{{admin.email}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress" class="col-form-label">About you</label>
                                <span class="input-icon icon-right">
                                    <textarea rows="3" class="form-control" name="about" placeholder="About you">{{admin.about|length > 5 ? admin.about }}</textarea>
                                </span>
                            </div>
            

                            <button id="savebiosubmit" class="btn btn-primary btn-sm" type="button">Save Bio Settings</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end row -->        

            {# <!-- Form row -->
            <div class="card-box">
                <div class="col-md-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Skills</h4>

                        <form id="savespecialty">
                            <div class="alert alert-info">{% for specialty in admin.specialties %}<a href="{{path('specialty_show', {'id': specialty.id })}}">{{specialty.title}} Grade {{specialty.level}}</a>{% else %}No skills/specialties added{% endfor %}</div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="title" class="col-form-label">Skill/Specialty</label>
                                    <input class="form-control" id="title" type="text" placeholder="Skill / Specialty title" name="title">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="level" class="col-form-label">Level</label>
                                    <select class="form-control" name="level">
                                        <option value="1">Grade 1</option>
                                        <option value="2">Grade 2</option>
                                        <option value="3">Grade 3</option>
                                        <option value="4">Grade 4</option>
                                        <option value="5">Grade 5</option>
                                        <option value="6">Grade 6</option>
                                        <option value="7">Grade 7</option>
                                        <option value="8">Grade 8</option>
                                        <option value="Dip">Diploma</option>
                                    </select>
                                </div>
                            </div>            

                            <button id="saveskillsubmit" class="btn btn-primary btn-sm" type="button">Save Skill</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end row -->         #}

        </div>

        <div class="col-sm-4">
            <div class="card-box">
                {# <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                    </div>
                </div> #}

                <h4 class="header-title mt-0 mb-3">More Information</h4>

                <form id="saveextras">
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="resume" class="col-form-label">Resume [PDF]</label>
                            <input type="file" name="resume" class="form-control" id="resume">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="inputCity" class="col-form-label">Facebook URL</label>
                            <input type="text" name="facebook" class="form-control" id="inputCity" value="{{admin.facebook|length > 3 ? admin.facebook : ""}}" placeholder="www.facebook.com/username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="inputCity" class="col-form-label">Twitter URL</label>
                            <input type="text" name="twitter" class="form-control" id="inputCity" value="{{admin.twitter|length > 3 ? admin.twitter : ""}}" placeholder="www.twitter.com/username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="inputCity" class="col-form-label">Linkedin URL</label>
                            <input type="text" name="linkedin" class="form-control" id="inputCity" value="{{admin.linkedin|length > 3 ? admin.linkedin : ""}}" placeholder="www.linkedin.com/userid">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label for="inputZip" class="col-form-label">Instagram URL</label>
                            <input type="text" name="instagram" class="form-control" id="inputZip" value="{{admin.instagram|length > 3 ? admin.instagram : ""}}" placeholder="www.instagram.com/userid">
                        </div>
                    </div>
                    <button type="button" id="submitextras" class="btn btn-primary">Save</button>
                </form>

            </div>

        </div>
    </div>        
                        
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crop Image Before Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="" id="sample_image" />
                            </div>
                            <div class="col-md-4">
                                <div class="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="crop" class="btn btn-primary">Save picture</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>			

{% endblock %}
{% block javascripts %}

    <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
    <script src="https://unpkg.com/dropzone"></script>
    <script src="https://unpkg.com/cropperjs"></script>

    <script>

    $(document).ready(function(){

        var $modal = $('#modal');

        var image = document.getElementById('sample_image');

        var cropper;

        $('#upload_image').change(function(event){
            var files = event.target.files;

            var done = function(url){
                image.src = url;
                $modal.modal('show');
            };

            if(files && files.length > 0)
            {
                reader = new FileReader();
                reader.onload = function(event)
                {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }
        });

        $modal.on('shown.bs.modal', function() {
            cropper = new Cropper(image, {
                aspectRatio: 1,
                viewMode: 3,
                preview:'.preview'
            });
        }).on('hidden.bs.modal', function(){
            cropper.destroy();
            cropper = null;
        });

        $('#crop').click(function(){
            canvas = cropper.getCroppedCanvas({
                width:400,
                height:400
            });

            canvas.toBlob(function(blob){
                url = URL.createObjectURL(blob);
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function(){
                    var base64data = reader.result;
                    $.ajax({
                        url:"{{path('save_profile_picture')}}",
                        method:'POST',
                        data:{image:base64data},
                        success:function(data)
                        {
                            $modal.modal('hide');
                            console.log(data);
                            $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                            $('#uploaded_image').attr('src', data);
                        }
                    });
                };
            });
        });
        
    });
    </script>

	<script>
	  $(document).on('click', '#savebiosubmit', function(){

	  		var form = document.getElementById("savebio");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/user/bio',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Bio settings saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });
	</script>

	<script>
	  $(document).on('click', '#saveskillsubmit', function(){

	  		var form = document.getElementById("savespecialty");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/user/skill',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Skill saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });
	</script>

	<script>
	  $(document).on('click', '#submitextras', function(){

	  		var form = document.getElementById("saveextras");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/user/extras',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Information saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });
	</script>

{% endblock %}