                <!-- ========== Left Sidebar Start ========== -->
                <div class="left-side-menu">

                    <div class="slimscroll-menu">

                        <!--- Sidemenu -->
                        <div id="sidebar-menu">

                            <ul class="metismenu" id="side-menu">

                                <li class="menu-title">Navigation</li>

                                <li>
                                    <a href="{{path('admin')}}">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span> Dashboard </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{path('profile')}}">
                                        <i class="mdi mdi-account"></i>
                                        <span> Profile </span>
                                    </a>
                                </li>

                                <li class="menu-title">Information</li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-page-layout-sidebar-left"></i>
                                        <span> Categories </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('category_new')}}">New</a></li>
                                        <li><a href="{{path('category_index')}}">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-page-layout-sidebar-left"></i>
                                        <span> Products </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('product_new')}}">New</a></li>
                                        <li><a href="{{path('product_index')}}">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-page-layout-sidebar-left"></i>
                                        <span> Article Tags </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-page-layout-sidebar-left"></i>
                                        <span> Blog </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('post_new')}}">New</a></li>
                                        <li><a href="{{path('post_index')}}">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-page-layout-sidebar-left"></i>
                                        <span> Website Content </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('user_setting_new')}}">New</a></li>
                                        <li><a href="{{path('user_setting_index')}}">List</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </div>
                        <!-- End Sidebar -->

                        <div class="clearfix"></div>

                    </div>
                    <!-- Sidebar -left -->

                </div>
                <!-- Left Sidebar End -->
