<form method="post" class="float-left" action="{{ path('setting_delete', {'id': setting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ setting.id) }}">
    <button class="btn">Delete</button>
</form>
