{% extends 'base.html.twig' %}

{% block title %}Setting index{% endblock %}

{% block body %}
    <h1>Setting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Name</th>
                <th>Category</th>
                <th>Target_usertype</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.description }}</td>
                <td>{{ setting.name }}</td>
                <td>{{ setting.category }}</td>
                <td>{{ setting.targetUsertype }}</td>
                <td>
                    <a href="{{ path('setting_show', {'id': setting.id}) }}">show</a>
                    <a href="{{ path('setting_edit', {'id': setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('setting_new') }}">Create new</a>
{% endblock %}
