{% extends 'base.html.twig' %}

{% block title %}Setting{% endblock %}

{% block body %}
    <h1>Setting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ setting.description }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ setting.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ setting.category }}</td>
            </tr>
            <tr>
                <th>Target_usertype</th>
                <td>{{ setting.targetUsertype }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('setting_index') }}">back to list</a>

    <a href="{{ path('setting_edit', {'id': setting.id}) }}">edit</a>

    {{ include('setting/_delete_form.html.twig') }}
{% endblock %}
