{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name" class="col-form-label">Product Name</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Product Name'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="price" class="col-form-label">Price</label>
            {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Price'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCity" class="col-form-label">Category</label>
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-md-4">
            <label for="inputState" class="col-form-label">Gender</label>
            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip" class="col-form-label">Color</label>
            {{ form_widget(form.color, {'attr': {'class': 'form-control', 'placeholder': 'Color'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name" class="col-form-label">Product Size</label>
            {{ form_widget(form.size, {'attr': {'class': 'form-control', 'placeholder': 'Product Size'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="price" class="col-form-label">Product Image</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Specs</label>
        {{ form_widget(form.specs, {'attr': {'class': 'form-control', 'placeholder': 'Specs'}}) }}
    </div>
    {% if product.id is not null %}
        <input type="hidden" name="old_file" value="{{product.image}}" >
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="featured" value="" id="featured">
            <label class="form-check-label" for="featured">
                Featured Product?
            </label>
        </div>
    {% endif %}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}    

