{% extends 'admin_base.html.twig' %}

{% block title %}Your Products{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="mt-0 header-title">Your articles</h4>
                <p class="text-muted font-14 mb-3">
                    A list of products you've created.
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Color</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Specs</th>
                            <th>Size</th>
                            <th>Gender</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}{{product.featured ? '*' : ''}}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.color }}</td>
                            <td>{{ product.description|slice(0,50)|raw }}</td>
                            <td>{{ product.image|slice(0,3) }}..{{ product.image|slice(-5) }}</td>
                            <td>{{ product.specs|slice(0,50)|raw }}</td>
                            <td>{{ product.size }}</td>
                            <td>{{ product.gender }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm" href="{{ path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size}) }}" title="View"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-primary btn-sm" href="{{ path('product_edit', {'id': product.id}) }}" title="Edit"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-primary btn-sm" href="{{ path('gallery_new', {'product_id': product.id}) }}" title="Add a photo for this product"><i class="fa fa-plus"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end row -->

    <a href="{{ path('product_new') }}">Create new product</a>
{% endblock %}
