{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
{% include('include/header_pg.html.twig') %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Products</li>
                            <li>{{product.name}} {{product.size}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--product details start-->
    <div class="product_details mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{asset('dist/assets/product/' ~ product.image )}}"
                                    data-zoom-image="{{asset('dist/assets/product/' ~ product.image )}}" alt="big-1">
                            </a>
                        </div>
                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                {% for g in product.galleries %}
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                        data-image="{{asset('dist/assets/product/' ~ g.image )}}"
                                        data-zoom-image="{{asset('dist/assets/product/' ~ g.image )}}">
                                        <img src="{{asset('dist/assets/product/' ~ g.image )}}" alt="zo-th-1" />
                                    </a>

                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="product_d_right">
                        {# <form action="#"> #}
                            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                            <div class="productd_title_nav">
                                <h1><a href="#">{{product.name}} {{product.size}}</a></h1>
                                <div class="product_nav">
                                    <ul>
                                        <li class="prev"><a href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size }) }}"><i
                                                    class="fa fa-angle-left"></i></a></li>
                                        <li class="next"><a href="#"><i
                                                    class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class=" product_ratting">
                                <ul>
                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                    <li class="review"><a href="#reviews"> (customer reviews ) </a></li>
                                </ul>
                            </div>
                            <div class="price_box">
                                <span class="current_price">Kes {{product.price}}</span>
                                <span class="old_price">Kes {{product.price + 50}}</span>
                            </div>
                            <div class="product_desc">
                                <p>{{product.description|raw}}</p>
                            </div>
                            <div class="product_variant color">
                                <h3>Size:</h3>
                                <label>{{product.size}}</label>
                            </div>
                            <div class="product_variant quantity">
                                <div class="form-group mb2">
                                    {# {{ form_label(form.quantity) }} #}
                                    {{ form_widget(form.quantity, {
                                        'attr': {
                                            'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid'),
                                            'value': 1, 
                                            'min': 1,
                                            'title': 'Quantity',
                                        }
                                    }) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                                <div class="form-group mb2">
                                    {{ form_widget(form.add, {'attr': {'class': 'button'}}) }}
                                </div>
                                <div class="form-group mb2">
                                    <a href='/cart' style="margin-left:20px;" class='btn btn-success'>View Cart <span class="badge text-dark bg-light">{{cart.items.count}}</span> </a>
                                </div>


                            </div>
                            <div class=" product_d_action">
                                <ul>
                                    <li><a href="#" title="Add to wishlist">+ Add to Wishlist</a></li>
                                    <li><a href="#" title="Add to wishlist">+ Compare</a></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>Category: <a href="#">{{product.category}}</a></span>
                            </div>

                            {{ form_end(form) }}
                        {# </form> #}
                        <div class="priduct_social">
                            <ul>
                                <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i>
                                        Like</a></li>
                                <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a>
                                </li>
                                <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i>
                                        save</a></li>
                                <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i>
                                        share</a></li>
                                <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i>
                                        linked</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->

    <!--product info start-->
    <div class="product_d_info mb-57">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
                                        aria-selected="false">Description</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
                                        aria-selected="false">Ingredients</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                        aria-selected="false">Reviews (1)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    <p>{{product.description|raw}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sheet" role="tabpanel">
                                <div class="product_d_table">
                                    {{product.specs|raw}}                                
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="reviews_wrapper">
                                    <h2>1 review for Donec eu furniture</h2>
                                    <div class="reviews_comment_box">
                                        <div class="comment_thmb">
                                            <img src="assets/img/blog/comment2.jpg" alt="">
                                        </div>
                                        <div class="comment_text">
                                            <div class="reviews_meta">
                                                <div class="star_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <p><strong>admin </strong>- September 12, 2018</p>
                                                <span>roadthemes</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="comment_title">
                                        <h2>Add a review </h2>
                                        <p>Your email address will not be published. Required fields are marked </p>
                                    </div>
                                    <div class="product_ratting mb-10">
                                        <h3>Your rating</h3>
                                        <ul>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_review_form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="review_comment">Your review </label>
                                                    <textarea name="comment" id="review_comment"></textarea>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="author">Name</label>
                                                    <input id="author" type="text">

                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="email">Email </label>
                                                    <input id="email" type="text">
                                                </div>
                                            </div>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product info end-->

    <!--product area start-->
    <section class="product_area related_products mb-57">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title psec_title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product_carousel product_column4 owl-carousel">
                {% for product in relatedProducts %}
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size }) }}"><img
                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                    <a class="secondary_img" href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size }) }}"><img
                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">-50</span>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="wishlist"><a href="#" title="Add to Wishlist"><i
                                                        class="icon-heart icons"></i></a></li>
                                            <li class="compare"><a href="#" title="Add to Compare"><i
                                                        class="icon-refresh icons"></i></a></li>
                                            <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#modal_box{{product.id}}" title="quick view"> <i
                                                        class="icon-magnifier-add icons"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <figcaption class="product_content">
                                    <h4 class="product_name"><a href="{{path('product_show', {'id': product.id, 'product_name': product.name ~ '-' ~ product.size }) }}">{{product.name}} {{product.size}}</a>
                                    </h4>
                                    <div class="price_box">
                                        <span class="old_price">Kes {{product.price + 50}}</span>
                                        <span class="current_price">Kes {{product.price}}</span>
                                    </div>
                                    <div class="add_to_cart">
                                        <a class="add_to_cart-{{product.id}}" href="javascript:void(0)">+ Add to cart</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--product area end-->
    {% for product in relatedProducts %}
        <!-- modal area start-->
        <div class="modal fade" id="modal_box{{product.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="modal-content{{product.id}}">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="ion-android-close"></i></span>
                    </button>
                    <div class="modal_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="modal_tab">
                                        <div class="tab-content product-details-large">
                                            <div class="tab-pane fade show active" id="tab0" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                </div>
                                            </div>
                                            {% for g in product.galleries %}
                                            <div class="tab-pane fade" id="tab{{loop.index}}" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="{{asset('dist/assets/product/' ~ g.image )}}" alt=""></a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal_tab_button">
                                            <ul class="nav product_navactive owl-carousel" role="tablist">
                                                <li>
                                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab0" role="tab"
                                                        aria-controls="tab0" aria-selected="false"><img
                                                            src="{{asset('dist/assets/product/' ~ product.image )}}" alt=""></a>
                                                </li>
                                                {% for g in product.galleries %}
                                                <li>
                                                    <a class="nav-link" data-bs-toggle="tab" href="#tab{{loop.index}}" role="tab"
                                                        aria-controls="tab{{loop.index}}" aria-selected="false"><img
                                                            src="{{asset('dist/assets/product/' ~ g.image )}}" alt=""></a>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <div class="modal_right">
                                        <div class="modal_title mb-10">
                                            <h2>{{product.name}} {{product.size}}</h2>
                                        </div>
                                        <div class="modal_price mb-10">
                                            <span class="new_price">Kes {{product.price + 50}}</span>
                                            <span class="old_price">Kes {{product.price}}</span>
                                        </div>
                                        <div class="modal_description mb-15">
                                            <p>{{product.description|raw}} </p>
                                        </div>
                                        <div class="variants_selects">
                                            <div class="modal_add_to_cart">
                                                <form id="form_prod_{{product.id}}">
                                                    <input min="1" id="qty-{{product.id}}" max="100" step="1" value="1" type="number">
                                                    <button id="add_to_cart-{{product.id}}" type="button">add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal_social">
                                            <h2>Share this product</h2>
                                            <ul>
                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal area end-->
    {% endfor %}

                        
    {% include ('include/shipping.html.twig') %}

    {% include ('include/footer.html.twig') %}

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
