<form method="post" class="float-left" action="{{ path('gallery_delete', {'id': gallery.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallery.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
