{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="image">Image</label>
        <div class="col-md-10">
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {% if gallery.id is not null %}
        <input type="hidden" name="old_file" value="{{gallery.image}}" >
    {% endif %}
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
