{% extends 'admin_base.html.twig' %}

{% block title %}Edit Image for {{gallery.product.name}}{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Edit Image for {{gallery.product.name}}</h4>
                <p class="sub-header">
                    Images changed here will be publicly visible. You can change them later after saving them.
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            {{ include('gallery/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a href="{{ path('product_index') }}">back to product list</a><br />
    <a href="{{ path('gallery_index', {'product_id': gallery.product.id}) }}">back to gallery list</a>
{% endblock %}