{% extends 'admin_base.html.twig' %}

{% block title %}Your Product Photos{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="mt-0 header-title">Product Photos</h4>
                <p class="text-muted font-14 mb-3">
                    A list of gallery photos you've created.
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for gallery in galleries %}
                        <tr>
                            <td>{{ gallery.image }}</td>
                            <td>{{ gallery.product.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ path('gallery_show', {'id': gallery.id}) }}">show</a>
                                    <a class="btn btn-primary" href="{{ path('gallery_edit', {'id': gallery.id}) }}">edit</a>
                                    <a class="btn btn-primary" href="{{ path('gallery_new', {'product_id': gallery.product.id }) }}">Create new</a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end row -->
    <a href="{{ path('product_index') }}">Product List</a>

{% endblock %}

