{% extends 'admin_base.html.twig' %}

{% block title %}Gallery image{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Gallery image</h4>
                <p class="sub-header">
                    View image
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ gallery.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td><img src="{{ asset('dist/assets/product/' ~ gallery.image ) }}" style="max-width:500px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a class="btn btn-primary" href="{{ path('product_index') }}">back to product list</a>
    <a class="btn btn-primary" href="{{ path('gallery_index', {'product_id': gallery.product.id}) }}">back to gallery list</a>
    <a class="btn btn-primary" href="{{ path('gallery_edit', {'id': gallery.id}) }}">edit</a>
    {{ include('gallery/_delete_form.html.twig') }}
{% endblock %}