<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

        <!-- CSS 
        ========================= -->
        <!--bootstrap min css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/bootstrap.min.css')}}">
        <!--owl carousel min css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/owl.carousel.min.css')}}">
        <!--slick min css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/slick.css')}}">
        <!--magnific popup min css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/magnific-popup.css')}}">
        <!--font awesome css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/font.awesome.css')}}">
        <!--ionicons css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/ionicons.min.css')}}">
        <!--simple line icons css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/simple-line-icons.css')}}">
        <!--animate css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/animate.css')}}">
        <!--jquery ui min css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/jquery-ui.min.css')}}">
        <!--slinky menu css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/slinky.menu.css')}}">
        <!--plugins css-->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/plugins.css')}}">

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{{asset('bonique/assets/css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('site/css/sweetalert2.min.css') }}" type="text/css" />

        <!--modernizr min js here-->
        <script src="{{asset('bonique/assets/js/vendor/modernizr-3.7.1.min.js')}}"></script>
        {% block stylesheets %} {% endblock %}
    </head>

    <body>


        {% block body %}
        
        
        {% endblock %}


        <!-- JS
    ============================================ -->
        <!--jquery min js-->
        <script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>
        <!--popper min js-->
        <script src="{{asset('bonique/assets/js/popper.js')}}"></script>
        <!--bootstrap min js-->
        <script src="{{asset('bonique/assets/js/bootstrap.min.js')}}"></script>
        <!--owl carousel min js-->
        <script src="{{asset('bonique/assets/js/owl.carousel.min.js')}}"></script>
        <!--slick min js-->
        <script src="{{asset('bonique/assets/js/slick.min.js')}}"></script>
        <!--magnific popup min js-->
        <script src="{{asset('bonique/assets/js/jquery.magnific-popup.min.js')}}"></script>
        <!--counterup min js-->
        <script src="{{asset('bonique/assets/js/jquery.counterup.min.js')}}"></script>
        <!--jquery countdown min js-->
        <script src="{{asset('bonique/assets/js/jquery.countdown.js')}}"></script>
        <!--jquery ui min js-->
        <script src="{{asset('bonique/assets/js/jquery.ui.js')}}"></script>
        <!--jquery elevatezoom min js-->
        <script src="{{asset('bonique/assets/js/jquery.elevatezoom.js')}}"></script>
        <!--isotope packaged min js-->
        <script src="{{asset('bonique/assets/js/isotope.pkgd.min.js')}}"></script>
        <!--slinky menu js-->
        <script src="{{asset('bonique/assets/js/slinky.menu.js')}}"></script>
        <!-- Plugins JS -->
        <script src="{{asset('bonique/assets/js/plugins.js')}}"></script>
        <!-- Toastr js -->
        <script src="{{asset('dist/assets/js/bootstrap-notify.min.js')}}"></script>        
        <script src="{{ asset('site/js/sweetalert2.min.js') }}"></script>
        

        <!-- Main JS -->
        <script src="{{asset('bonique/assets/js/main.js')}}"></script>
        <script>
            $(document).on('click', '[id^="add_to_cart-"]', function(){

                var myId = jQuery(this).attr("id");
                var splitted = myId.split('-'); 
                var id = splitted[1];
                var quantity = $("#qty-" + id).val();

                $.ajax({
                    url:'{{ (path("add_to_cart")) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        'product_id' : id,
                        'quantity' : quantity,
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data.count);
                        $("#form_prod_" + id).append("<a href='/cart' class='btn btn-success'>View Cart <span class='badge text-dark bg-light'>" + data.count + "</a>");
                        $(".cart_item_count").text(data.count);
                        $(".cart_list").append('<div class="cart_item"><div class="cart_img"><a href="#"><img src="/dist/assets/product/' + data.image + '" alt="' + data.product + '"></a></div><div class="cart_info"><a href="#">' + data.product + '</a><p>' + data.quantity + ' x <span>Kes ' + data.price + '</span></p></div><div class="cart_remove"><a class="remove_cart_item-' + data.id + '" href="javascript:void(0)"><i class="ion-ios-close-outline"></i></a></div></div>');
                        $(".cart_empty").hide();
                        $(".total_price").text("Kes " + data.total);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data.product + ' has been added to cart. (Qty: ' + data.quantity + '). Click to view cart.',url: '/cart' },{ element: '#modal-content' + id, type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});

                        },
                    error: function (err) {
                        console.log("there is a problem: "+err.responseText);
                    }
                });

            });
        </script>
        <script>
            $(document).on('click', '[class^="add_to_cart-"]', function(){

                var myId = jQuery(this).attr("class");
                var splitted = myId.split('-'); 
                var id = splitted[1];
                var quantity = 1;

                $.ajax({
                    url:'{{ (path("add_to_cart")) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        'product_id' : id,
                        'quantity' : quantity,
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data.count);
                        $("#form_prod_" + id).append("<a href='/cart' class='btn btn-success'>View Cart <span class='badge text-dark bg-light'>" + data.count + "</a>");
                        $(".cart_item_count").text(data.count);
                        $(".cart_list").append('<div class="cart_item"><div class="cart_img"><a href="#"><img src="/dist/assets/product/' + data.image + '" alt="' + data.product + '"></a></div><div class="cart_info"><a href="#">' + data.product + '</a><p>' + data.quantity + ' x <span>Kes ' + data.price + '</span></p></div><div class="cart_remove"><a class="remove_cart_item-' + data.id + '" href="javascript:void(0)"><i class="ion-ios-close-outline"></i></a></div></div>');
                        $(".cart_empty").hide();
                        $(".total_price").text("Kes " + data.total);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data.product + ' has been added to cart. (Qty: ' + data.quantity + '). Click to view cart.',url: '/cart' },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    },
                    error: function (err) {
                        console.log("there is a problem: "+err.responseText);
                    }
                });

            });
        </script>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    
                </div>
                <script>

                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-{{ label }}-sign',
                        title: 'Notification:',
                        message: '{{ message }}',
                    },{
                        // settings
                        element: 'body',
                        type: "{{ label }}",
                        newest_on_top: true,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        offset: 20,
                        spacing: 10,
                    });

                </script>

            {% endfor %}
        {% endfor %}         
        <script>
        
            function showSimpleAlert(message, duration, icon = 'success'){
                return Swal.fire({
                    position: 'center',
                    icon: icon,
                    title: message,
                    showConfirmButton: false,
                    timer: duration
                })
            }
            
            function validateForm(data){
                var valid = true;
                $.each(data, function(id, obj) {
                    if(obj.value === "") {
                        valid = false;
                        $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    }
                });   
                return valid;         
            }
        </script>

        {% block javascripts %} {% endblock %}

    </body>
</html>
