{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="simpleinput">Title</label>
        <div class="col-md-10">
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title of your article'}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="example-textarea">Content</label>
        <div class="col-md-10">
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Write your article here'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="example-fileinput">Article Image</label>
        <div class="col-md-10">
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {% if post.id is not null %}
        <input type="hidden" name="old_file" value="{{post.image}}" >
    {% endif %}

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
    

