{% extends 'admin_base.html.twig' %}

{% block title %}Your articles{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="mt-0 header-title">Your articles</h4>
                <p class="text-muted font-14 mb-3">
                    A list of articles you've created.
                </p>
                <table  id="datatable" class="table table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.content|slice(0,90) }}...</td>
                            <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('post_show', {'id': post.id, 'title': post.title}) }}">show</a>
                                <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end row -->

    <a href="{{ path('post_new') }}">Create new</a>
{% endblock %}
