{% extends 'admin_base.html.twig' %}

{% block title %}New Article{% endblock %}
{% block stylesheets %}

<!--jquery min js-->
<script src="{{asset('bonique/assets/js/vendor/jquery-3.4.1.min.js')}}"></script>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="header-title">Create new Post</h4>
                <p class="sub-header">
                    Posts created here will be publicly visible. You can edit posts later after saving them.
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="p-2">
                            {{ include('post/_form.html.twig') }}
                        </div>
                    </div>

                </div>
                <!-- end row -->

            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <a href="{{ path('post_index') }}">back to list</a>
{% endblock %}
