{% extends 'base.html.twig' %}

{% block title %}{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} - Blog{% endblock %}
{% block stylesheets %}
<style>
.post_header h1 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 4px;
}
.pagination span a {
    color: #d52121;
}
.pagination ul li:first-child {
    margin-left: 0;
}
.pagination span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 3px;
    margin-left: 3px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
</style>
{% endblock %}

{% block body %}
    {% include ('include/header_pg.html.twig') %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--blog area start-->
    <div class="blog_page_section mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="blog_wrapper">
                        <div class="row">
                        {% for post in pagination %}
                            <div class="col-lg-4 col-md-6">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="{{path('post_show', {'id': post.id, 'title': post.title})}}"><img src="{{asset('dist/assets/images/' ~ post.image )}}" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="{{path('post_show', {'id': post.id, 'title': post.title})}}"> {{post.title}}</a></h4>
                                            <p>Posted by {{post.user.fullname}} <span>{{post.createdAt|date('F j, Y \a\t h:i a')}}</span></p>
                                            <footer class="blog_footer">
                                                <a href="{{path('post_show', {'id': post.id, 'title': post.title})}}">+ Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <!--blog pagination area start-->
                    <div class="blog_pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <!--blog pagination area end-->
                </div>
                {% include ('include/blog_sidebar.html.twig') %}
            </div>
        </div>
    </div>
    
    <!--blog area end-->
    {% include ('include/shipping.html.twig') %}

    {% include ('include/footer.html.twig') %}

{% endblock %}