{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}
{% block stylesheets %}
<style>
.post_header h1 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 4px;
}
</style>
{% endblock %}

{% block body %}
    {% include ('include/header_pg.html.twig') %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li>{{post.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
    <!--blog body area start-->
    <div class="blog_details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <!--blog grid area start-->
                    <div class="blog_wrapper blog_wrapper_details">
                        <article class="single_blog">
                            <figure>
                                <div class="post_header">
                                    <h1 class="post_title">{{post.title}}</h1>
                                    <div class="blog_meta">
                                        <p>Posted by : <a href="#">{{post.user.fullname}}</a> / On : <a href="#">{{post.createdAt|date('F j, Y')}}</a> / In
                                            : <a href="#">{{u_settings.business_name is defined ? u_settings.business_name : 'No Business Name'}} blog</a></p>
                                    </div>
                                </div>
                                <div class="blog_d_thumb">
                                    <img src="{{asset('dist/assets/images/' ~ post.image )}}" alt="">
                                </div>
                                <figcaption class="blog_content">
                                    <div class="post_content">
                                        {{post.content|raw}}
                                    </div>
                                    <div class="entry_content">
                                        <div class="social_sharing">
                                            <p>share this post:</p>
                                            <ul>
                                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                                <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                        <a class="btn btn-primary" href="{{ path('post_index') }}">back to list</a>
                        {% if app.user and post.user.id == app.user.id %}
                        <a class="btn btn-primary" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

                        {{ include('post/_delete_form.html.twig') }}
                        {% endif %}
                        <div class="related_posts">
                            <h3>Other articles</h3>
                            <div class="row">
                            {% for post in posts %}
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <a href="{{path('post_show', {'id': post.id, 'title': post.title})}}"><img src="{{asset('dist/assets/images/' ~ post.image)}}"
                                                        alt="{{post.title}}"></a>
                                            </div>
                                            <figcaption class="related_content">
                                                <h4><a href="#">{{post.title}}</a></h4>
                                                <div class="blog_meta">
                                                    <span class="author">By : <a href="#">{{post.user.fullname}}</a> / </span>
                                                    <span class="meta_date"> {{post.createdAt|date('F j, Y \a\t h:i a') }} </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="comments_form">
                            <h3>Leave a Comment </h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form id="comment_form">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="review_comment">Comment* </label>
                                        <textarea name="comment" id="comment"></textarea>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <label for="name">Name*</label>
                                        <input name="name" id="name" value="{{app.user and app.user != null ? app.user.fullname : '' }}" type="text">

                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <label for="email">Email* </label>
                                        <input name="email" id="email" value="{{app.user and app.user != null ? app.user.email : '' }}" type="text">
                                    </div>
                                    <input type="hidden" name="post_id" value="{{post.id}}" id="post_id">
                                </div>
                                <button id="post_comment" class="button" type="button">Post Comment</button>
                            </form>
                        </div>
                        <div id="comments_box" class="comments_box mt-5 ">
                            <h3>{{post.comments|length}} Comments </h3>
                            {% for comment in post.comments %}
                            <div id="cm_{{comment.id}}" class="comment_list">
                                <div class="comment_thumb">
                                    <img src="{{ asset('dist/assets/profile/person_thumb.png') }}" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">{{comment.name}}</a></h5>
                                        <span>{{comment.createdAt|date('F j, Y \a\t h:i a')}} </span>
                                    </div>
                                    <p>{{comment.content}}</p>
                                    <div class="comment_reply">
                                        <a id="showrbox_{{comment.id}}" href="#box_{{comment.id}}">Reply</a>
                                    </div>
                                </div>
                                <section id="cr_{{comment.id}}">
                                {% for reply in comment.commentReplies %}
                                <div class="comment_list list_two" style="margin-top:10px!important">
                                    <div class="comment_thumb">
                                        <img src="{{ asset('dist/assets/profile/person_thumb.png') }}" alt="">
                                    </div>
                                    <div class="comment_content">
                                        <div class="comment_meta">
                                            <h5><a href="#">{{reply.rName}}</a></h5>
                                            <span>{{reply.createdAt|date('F j, Y \a\t h:i a')}}</span>
                                        </div>
                                        <p>{{reply.content}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                </section>
                                <div class="comment_list list_two" id="box_{{comment.id}}" style="display:none;">
                                    <div class="comment_thumb">
                                        <img src="{{ asset('dist/assets/profile/person_thumb.png') }}" alt="">
                                    </div>
                                    <div class="comment_content">
                                    <form id="reply_form-{{comment.id}}">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="reply">Reply* </label>
                                                <textarea class="form-control" name="reply" id="reply"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="name">Name*</label>
                                                <input class="form-control" name="r_name" id="r_name" value="{{app.user and app.user != null ? app.user.fullname : '' }}" type="text">

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">Email* </label>
                                                <input class="form-control" name="r_email" id="r_email" value="{{app.user and app.user != null ? app.user.email : '' }}" type="text">
                                            </div>
                                            <input type="hidden" name="comment_id" value="{{comment.id}}" id="post_id">
                                        </div>
                                        <button type="button" class="btn btn-sm btn-primary" id="post_reply-{{comment.id}}">Post Reply</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--blog grid area start-->
                </div>
                {% include('include/blog_sidebar.html.twig') %}
            </div>
        </div>
    </div>
    <!--blog section area end-->
    {% include ('include/shipping.html.twig') %}

    {% include ('include/footer.html.twig') %}

{% endblock %}
{% block javascripts %}

    <script src="{{asset('dist/assets/js/bootstrap-notify.min.js')}}"></script>        

    <script>
	  $(document).on('click', '#post_comment', function(){

	  		var form = document.getElementById("comment_form");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/user/comment',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $(form)[0].reset();
                console.log(data);
                $("#comments_box").append("<div id='cm_" + data.id + "' class='comment_list'> <div class='comment_thumb'> <img src='{{asset('dist/assets/profile/person_thumb.png')}}' alt=''> </div><div class='comment_content'> <div class='comment_meta'> <h5><a href='#'>" + data.name + "</a></h5> <span>" + data.time + "</span> </div><p>" + data.content + "</p><div class='comment_reply'> <a id='showrbox_" + data.id + "' href='#box_" + data.id + "'>Reply</a> </div></div><section id='cr_" + data.id + "'></section><div class='comment_list list_two' id='box_" + data.id + "' style='display:none;'> <div class='comment_thumb'> <img src='{{asset('dist/assets/profile/person_thumb.png')}}' alt=''> </div><div class='comment_content'> <form id='reply_form-" + data.id + "'> <div class='row'> <div class='col-12'> <label for='reply'>Reply* </label> <textarea class='form-control' name='reply' id='reply'></textarea> </div><div class='col-lg-6 col-md-6'> <label for='name'>Name*</label> <input class='form-control' name='r_name' id='r_name' value='{{app.user and app.user !=null ? app.user.fullname : ''}}' type='text'> </div><div class='col-lg-6 col-md-6'> <label for='email'>Email* </label> <input class='form-control' name='r_email' id='r_email' value='{{app.user and app.user !=null ? app.user.email : ''}}' type='text'> </div><input type='hidden' name='comment_id' value='" + data.id + "' id='post_id'> </div><button type='button' class='btn btn-sm btn-primary' id='post_reply-" + data.id + "'>Post Reply</button> </form> </div></div></div>");
                window.location.hash = '#cm_' + data.id;
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Comment Added', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });

    </script>

    <script>
        $(document).on('click', '[id^="post_reply-"]', function(){

            var id = jQuery(this).attr("id").split("-")[1];
	  		var form = document.getElementById("reply_form-"+id);
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/save/comment/reply',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $(form)[0].reset();
                console.log(data);
                $("#cr_"+id).append('<div class="comment_list list_two" style="margin-top:10px!important"><div class="comment_thumb"> <img src="{{asset("dist/assets/profile/person_thumb.png")}}" alt=""> </div><div class="comment_content"> <div class="comment_meta"> <h5><a href="#">' + data.name + '</a></h5> <span>' + data.time + '</span> </div><p>' + data.content + '</p></div></div>');
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Reply Added', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                var y = $(window).scrollTop();  //your current y position on the page
                $(window).scrollTop(y-150);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	    });

    </script>

    <script>
        
        $(document).on('click', '[id^="showrbox_"]', function(){
            var id = jQuery(this).attr("id").split("_")[1];
            $("#box_"+id).toggle();

        })

    </script>
 
{% endblock %}